<script>
function submitFilter()
{
    document.getElementById("filters").submit();
}
</script>
<ul class="list">
<div class="titleMenu">
    <p>Escolha um Apple</p>
</div>

    <li class="item iphone" onclick="location.href = '{{ path('brasil_search', {'category_name': 'iphone'}) }}';">
        
        {% if (state != 'brasil') %}
            <a href="{{ path('subdomain_search', {'state': state, 'category_name': 'iphone' }) }}" class="btn-product">iPhone</a>
        {% else %}
            <a href="{{ path('brasil_search', {'category_name': 'iphone' }) }}" class="btn-product">iPhone</a>
        {% endif %}

        <p class="text-bt"></p>
        {% if (category == 'iphone') %}
        <li class="filter">
            {{ form_start(filterForm, { attr: { 'novalidate': 'novalidate', 'id': 'filters' }}) }}
                
                <ul class="filter-list">
                    <p class="title-filter">Modelo:</p>

                    {% for subcategory in filterForm.subcategory %}

                        <li class="filter-item">
                            {{ form_widget(subcategory, { attr: { 'class': 'filtrosclick selectGenero', 'onclick': 'submitFilter()' }}) }}
                            <label class="text-filter" for="">iPhone {{ subcategory.vars.label }}</label>
                        </li>
                    {% endfor %}

                </ul>

                <ul class="filter-list">
                    <p class="title-filter">Capacidade:</p>

                    {% for size in filterForm.size %}

                        <li class="filter-item">
                            {{ form_widget(size, { attr: { 'class': 'filtrosclick selectGenero', 'onclick': 'submitFilter()' }}) }}
                            <label class="text-filter" for="">{{ size.vars.label }}G</label>
                        </li>
                    {% endfor %}

                </ul>

                
                <ul class="filter-list">
                    <p class="title-filter">Estado:</p>
                    {% for adType in filterForm.adType %}

                        <li class="filter-item">
                            {{ form_widget(adType, { attr: { 'class': 'filtrosclick selectGenero', 'onclick': 'submitFilter()' }}) }}
                            <label class="text-filter" for="">{{ adType.vars.label }}</label>
                        </li>
                    {% endfor %}

                </ul>

                <ul class="filter-list">
                    <p class="title-filter">Preço:</p>
                    <li id="pricerange" class="filter-item">
                        {{ form_widget(filterForm.price_min, { attr: { 'class': 'field-filter' }}) }}
                        {{ form_widget(filterForm.price_max, { attr: { 'class': 'field-filter' }}) }}
                        {{ form_widget(filterForm.price_submit, { attr: { 'class': 'search-bt'}}) }}
                    
                    </li> 
                </ul>
            {{ form_end(filterForm) }}
        </li>
        {% endif %}  
    </li>   


    <li class="item ipad" onclick="location.href = '{{ path('brasil_search', {'category_name': 'ipad'}) }}';">

        {% if (state != 'brasil') %}
            <a href="{{ path('subdomain_search', {'state': state, 'category_name': 'ipad' }) }}" class="btn-product">iPad</a>
        {% else %}
            <a href="{{ path('brasil_search', {'category_name': 'ipad' }) }}" class="btn-product">iPad</a>
        {% endif %}

        {% if (category == 'ipad') %}
            <li class="filter">
                {{ form_start(filterForm, { attr: { 'novalidate': 'novalidate', 'id': 'filters' }}) }}

                    <ul class="filter-list">
                        <p class="title-filter">Modelo:</p>

                        {% for subcategory in filterForm.subcategory %}

                            <li class="filter-item">
                                {{ form_widget(subcategory, { attr: { 'class': 'filtrosclick selectGenero', 'onclick': 'submitFilter()' }}) }}
                                <label class="text-filter" for="">iPad {{ subcategory.vars.label }}</label>
                            </li>
                        {% endfor %}

                    </ul>

                    <ul class="filter-list">
                        <p class="title-filter">Capacidade:</p>

                        {% for size in filterForm.size %}

                            <li class="filter-item">
                                {{ form_widget(size, { attr: { 'class': 'filtrosclick selectGenero', 'onclick': 'submitFilter()' }}) }}
                                <label class="text-filter" for="">{{ size.vars.label }}G</label>
                            </li>
                        {% endfor %}

                    </ul>

                    <ul class="filter-list">
                        <p class="title-filter">Estado:</p>
                        {% for adType in filterForm.adType %}

                            <li class="filter-item">
                                {{ form_widget(adType, { attr: { 'class': 'filtrosclick selectGenero', 'onclick': 'submitFilter()' }}) }}
                                <label class="text-filter" for="">{{ adType.vars.label }}</label>
                            </li>
                        {% endfor %}

                    </ul>
                    
                    <ul class="filter-list">
                        <p class="title-filter">Preço:</p>
                        <li id="pricerange" class="filter-item">
                            {{ form_widget(filterForm.price_min, { attr: { 'class': 'field-filter' }}) }}
                            {{ form_widget(filterForm.price_max, { attr: { 'class': 'field-filter' }}) }}
                            {{ form_widget(filterForm.price_submit, { attr: { 'class': 'search-bt'}}) }}
                        
                        </li> 
                    </ul>
                {{ form_end(filterForm) }}
            </li>
        {% endif %}
    </li>

    <li class="item ipod" onclick="location.href = '{{ path('brasil_search', {'category_name': 'ipod'}) }}';">
        
        {% if (state != 'brasil') %}
            <a href="{{ path('subdomain_search', {'state': state, 'category_name': 'ipod' }) }}" class="btn-product">iPod</a>
        {% else %}
            <a href="{{ path('brasil_search', {'category_name': 'ipod' }) }}" class="btn-product">iPod</a>
        {% endif %}
        {% if (category == 'ipod') %}
            <li class="filter">
                    {{ form_start(filterForm, { attr: { 'novalidate': 'novalidate', 'id': 'filters' }}) }}

                        <ul class="filter-list">
                            <p class="title-filter">Modelo:</p>

                            {% for subcategory in filterForm.subcategory %}

                                <li class="filter-item">
                                    {{ form_widget(subcategory, { attr: { 'class': 'filtrosclick selectGenero', 'onclick': 'submitFilter()' }}) }}
                                    <label class="text-filter" for="">iPod {{ subcategory.vars.label }}</label>
                                </li>
                            {% endfor %}

                        </ul>

                        <ul class="filter-list">
                            <p class="title-filter">Capacidade:</p>

                            {% for size in filterForm.size %}

                                <li class="filter-item">
                                    {{ form_widget(size, { attr: { 'class': 'filtrosclick selectGenero', 'onclick': 'submitFilter()' }}) }}
                                    <label class="text-filter" for="">{{ size.vars.label }}G</label>
                                </li>
                            {% endfor %}

                        </ul>

                        <ul class="filter-list">
                            <p class="title-filter">Cores:</p>

                            {% for color in filterForm.color %}

                                <li class="filter-item">
                                    {{ form_widget(color, { attr: { 'class': 'filtrosclick selectGenero', 'onclick': 'submitFilter()' }}) }}
                                    <label class="text-filter" for="">{{ color.vars.label }}</label>
                                </li>
                            {% endfor %}

                        </ul>

                        <ul class="filter-list">
                            <p class="title-filter">Estado:</p>
                            {% for adType in filterForm.adType %}

                                <li class="filter-item">
                                    {{ form_widget(adType, { attr: { 'class': 'filtrosclick selectGenero', 'onclick': 'submitFilter()' }}) }}
                                    <label class="text-filter" for="">{{ adType.vars.label }}</label>
                                </li>
                            {% endfor %}

                        </ul>

                        <ul class="filter-list">
                            <p class="title-filter">Preço:</p>
                            <li id="pricerange" class="filter-item">
                                {{ form_widget(filterForm.price_min, { attr: { 'class': 'field-filter' }}) }}
                                {{ form_widget(filterForm.price_max, { attr: { 'class': 'field-filter' }}) }}
                                {{ form_widget(filterForm.price_submit, { attr: { 'class': 'search-bt'}}) }}
                            
                            </li> 
                        </ul>
                    {{ form_end(filterForm) }}
                </li>
        {% endif %}
    </li>

    <li class="item macbook" onclick="location.href = '{{ path('brasil_search', {'category_name': 'macbook'}) }}';">
        
        {% if (state != 'brasil') %}
            <a href="{{ path('subdomain_search', {'state': state, 'category_name': 'macbook' }) }}" class="btn-product">MacBook</a>
        {% else %}
            <a href="{{ path('brasil_search', {'category_name': 'macbook' }) }}" class="btn-product">MacBook</a>
        {% endif %}

        {% if (category == 'macbook') %}
            <li class="filter">
                    {{ form_start(filterForm, { attr: { 'novalidate': 'novalidate', 'id': 'filters' }}) }}
                        <ul class="filter-list">
                            <p class="title-filter">Modelo:</p>

                            {% for subcategory in filterForm.subcategory %}

                                <li class="filter-item">
                                    {{ form_widget(subcategory, { attr: { 'class': 'filtrosclick selectGenero', 'onclick': 'submitFilter()' }}) }}
                                    <label class="text-filter" for="">MacBook {{ subcategory.vars.label }}</label>
                                </li>
                            {% endfor %}

                        </ul>

                        <ul class="filter-list">
                            <p class="title-filter">Capacidade:</p>

                            {% for size in filterForm.size %}

                                <li class="filter-item">
                                    {{ form_widget(size, { attr: { 'class': 'filtrosclick selectGenero', 'onclick': 'submitFilter()' }}) }}
                                    <label class="text-filter" for="">{{ size.vars.label }}G</label>
                                </li>
                            {% endfor %}

                        </ul>

                        <ul class="filter-list">
                            <p class="title-filter">Estado:</p>
                            {% for adType in filterForm.adType %}

                                <li class="filter-item">
                                    {{ form_widget(adType, { attr: { 'class': 'filtrosclick selectGenero', 'onclick': 'submitFilter()' }}) }}
                                    <label class="text-filter" for="">{{ adType.vars.label }}</label>
                                </li>
                            {% endfor %}

                        </ul>
                        

                        <ul class="filter-list">
                            <p class="title-filter">Polegadas:</p>

                            {% for screen in filterForm.screen %}

                                <li class="filter-item">
                                    {{ form_widget(screen, { attr: { 'class': 'filtrosclick selectGenero', 'onclick': 'submitFilter()' }}) }}
                                    <label class="text-filter" for="">{{ screen.vars.label }}</label>
                                </li>
                            {% endfor %}

                        </ul>

                        <ul class="filter-list">
                            <p class="title-filter">Memória Ram:</p>

                            {% for memory in filterForm.memory %}

                                <li class="filter-item">
                                    {{ form_widget(memory, { attr: { 'class': 'filtrosclick selectGenero', 'onclick': 'submitFilter()' }}) }}
                                    <label class="text-filter" for="">{{ memory.vars.label }}</label>
                                </li>
                            {% endfor %}

                        </ul> 

                        <ul class="filter-list">
                            <p class="title-filter">Processador:</p>

                            {% for processor in filterForm.processor %}

                                <li class="filter-item">
                                    {{ form_widget(processor, { attr: { 'class': 'filtrosclick selectGenero', 'onclick': 'submitFilter()' }}) }}
                                    <label class="text-filter" for="">{{ processor.vars.label }}</label>
                                </li>
                            {% endfor %}

                        </ul>

                        
                        <ul class="filter-list">
                            <p class="title-filter">Preço:</p>
                            <li id="pricerange" class="filter-item">
                                {{ form_widget(filterForm.price_min, { attr: { 'class': 'field-filter' }}) }}
                                {{ form_widget(filterForm.price_max, { attr: { 'class': 'field-filter' }}) }}
                                {{ form_widget(filterForm.price_submit, { attr: { 'class': 'search-bt'}}) }}
                            
                            </li> 
                        </ul>
                    {{ form_end(filterForm) }}
                </li>
        {% endif %}
    </li>

    <li class="item imac" onclick="location.href = '{{ path('brasil_search', {'category_name': 'imac'}) }}';">
        
        {% if (state != 'brasil') %}
            <a href="{{ path('subdomain_search', {'state': state, 'category_name': 'imac' }) }}" class="btn-product">iMac</a>
        {% else %}
            <a href="{{ path('brasil_search', {'category_name': 'imac' }) }}" class="btn-product">iMac</a>
        {% endif %}
        
        {% if (category == 'imac') %}
            <li class="filter">
                    {{ form_start(filterForm, { attr: { 'novalidate': 'novalidate', 'id': 'filters' }}) }}
                        <ul class="filter-list">
                            <p class="title-filter">Modelo:</p>

                            {% for subcategory in filterForm.subcategory %}

                                <li class="filter-item">
                                    {{ form_widget(subcategory, { attr: { 'class': 'filtrosclick selectGenero', 'onclick': 'submitFilter()' }}) }}
                                    <label class="text-filter" for="">iMac {{ subcategory.vars.label }}</label>
                                </li>
                            {% endfor %}

                        </ul>

                        <ul class="filter-list">
                            <p class="title-filter">Capacidade:</p>

                            {% for size in filterForm.size %}

                                <li class="filter-item">
                                    {{ form_widget(size, { attr: { 'class': 'filtrosclick selectGenero', 'onclick': 'submitFilter()' }}) }}
                                    <label class="text-filter" for="">{{ size.vars.label }}G</label>
                                </li>
                            {% endfor %}

                        </ul>

                        <ul class="filter-list">
                            <p class="title-filter">Estado:</p>
                            {% for adType in filterForm.adType %}

                                <li class="filter-item">
                                    {{ form_widget(adType, { attr: { 'class': 'filtrosclick selectGenero', 'onclick': 'submitFilter()' }}) }}
                                    <label class="text-filter" for="">{{ adType.vars.label }}</label>
                                </li>
                            {% endfor %}

                        </ul>
                        

                        <ul class="filter-list">
                            <p class="title-filter">Polegadas:</p>

                            {% for screen in filterForm.screen %}

                                <li class="filter-item">
                                    {{ form_widget(screen, { attr: { 'class': 'filtrosclick selectGenero', 'onclick': 'submitFilter()' }}) }}
                                    <label class="text-filter" for="">{{ screen.vars.label }}</label>
                                </li>
                            {% endfor %}

                        </ul>

                        <ul class="filter-list">
                            <p class="title-filter">Memória Ram:</p>

                            {% for memory in filterForm.memory %}

                                <li class="filter-item">
                                    {{ form_widget(memory, { attr: { 'class': 'filtrosclick selectGenero', 'onclick': 'submitFilter()' }}) }}
                                    <label class="text-filter" for="">{{ memory.vars.label }}</label>
                                </li>
                            {% endfor %}

                        </ul> 

                        <ul class="filter-list">
                            <p class="title-filter">Processador:</p>

                            {% for processor in filterForm.processor %}

                                <li class="filter-item">
                                    {{ form_widget(processor, { attr: { 'class': 'filtrosclick selectGenero', 'onclick': 'submitFilter()' }}) }}
                                    <label class="text-filter" for="">{{ processor.vars.label }}</label>
                                </li>
                            {% endfor %}

                        </ul>

                        
                        <ul class="filter-list">
                            <p class="title-filter">Preço:</p>
                            <li id="pricerange" class="filter-item">
                                {{ form_widget(filterForm.price_min, { attr: { 'class': 'field-filter' }}) }}
                                {{ form_widget(filterForm.price_max, { attr: { 'class': 'field-filter' }}) }}
                                {{ form_widget(filterForm.price_submit, { attr: { 'class': 'search-bt'}}) }}
                            
                            </li> 
                        </ul>
                    {{ form_end(filterForm) }}
            </li> 
        {% endif %}
    </li>

    <li class="item others" onclick="location.href = '{{ path('brasil_search', {'category_name': 'others'}) }}';">
        
        {% if (state != 'brasil') %}
            <a href="{{ path('subdomain_search', {'state': state, 'category_name': 'acessorios' }) }}" class="btn-product">Acessórios</a>
        {% else %}
            <a href="{{ path('brasil_search', {'category_name': 'acessorios' }) }}" class="btn-product">Acessórios</a>
        {% endif %}
        {% if (category == 'acessorios') %}
            <li class="filter">
                    {{ form_start(filterForm, { attr: { 'novalidate': 'novalidate', 'id': 'filters' }}) }}
                        <ul class="filter-list">
                            <p class="title-filter">Modelo:</p>

                            {% for subcategory in filterForm.subcategory %}

                                <li class="filter-item">
                                    {{ form_widget(subcategory, { attr: { 'class': 'filtrosclick selectGenero', 'onclick': 'submitFilter()' }}) }}
                                    <label class="text-filter" for="">iMac {{ subcategory.vars.label }}</label>
                                </li>
                            {% endfor %}

                        </ul>

                        <ul class="filter-list">
                            <p class="title-filter">Capacidade:</p>

                            {% for size in filterForm.size %}

                                <li class="filter-item">
                                    {{ form_widget(size, { attr: { 'class': 'filtrosclick selectGenero', 'onclick': 'submitFilter()' }}) }}
                                    <label class="text-filter" for="">{{ size.vars.label }}G</label>
                                </li>
                            {% endfor %}

                        </ul>

                        <ul class="filter-list">
                            <p class="title-filter">Estado:</p>
                            {% for adType in filterForm.adType %}

                                <li class="filter-item">
                                    {{ form_widget(adType, { attr: { 'class': 'filtrosclick selectGenero', 'onclick': 'submitFilter()' }}) }}
                                    <label class="text-filter" for="">{{ adType.vars.label }}</label>
                                </li>
                            {% endfor %}

                        </ul>
                        

                        <ul class="filter-list">
                            <p class="title-filter">Polegadas:</p>

                            {% for screen in filterForm.screen %}

                                <li class="filter-item">
                                    {{ form_widget(screen, { attr: { 'class': 'filtrosclick selectGenero', 'onclick': 'submitFilter()' }}) }}
                                    <label class="text-filter" for="">{{ screen.vars.label }}</label>
                                </li>
                            {% endfor %}

                        </ul>

                        <ul class="filter-list">
                            <p class="title-filter">Memória Ram:</p>

                            {% for memory in filterForm.memory %}

                                <li class="filter-item">
                                    {{ form_widget(memory, { attr: { 'class': 'filtrosclick selectGenero', 'onclick': 'submitFilter()' }}) }}
                                    <label class="text-filter" for="">{{ memory.vars.label }}</label>
                                </li>
                            {% endfor %}

                        </ul> 

                        <ul class="filter-list">
                            <p class="title-filter">Processador:</p>

                            {% for processor in filterForm.processor %}

                                <li class="filter-item">
                                    {{ form_widget(processor, { attr: { 'class': 'filtrosclick selectGenero', 'onclick': 'submitFilter()' }}) }}
                                    <label class="text-filter" for="">{{ processor.vars.label }}</label>
                                </li>
                            {% endfor %}

                        </ul>

                        
                        <ul class="filter-list">
                            <p class="title-filter">Preço:</p>
                            <li id="pricerange" class="filter-item">
                                {{ form_widget(filterForm.price_min, { attr: { 'class': 'field-filter' }}) }}
                                {{ form_widget(filterForm.price_max, { attr: { 'class': 'field-filter' }}) }}
                                {{ form_widget(filterForm.price_submit, { attr: { 'class': 'search-bt'}}) }}
                            
                            </li> 
                        </ul>
                    {{ form_end(filterForm) }}
                </li> 
        {% endif %}
    </li>
</ul>