<script>
function submitFilter()
{
    document.getElementById("filters").submit();
}
</script>
<ul class="list">
<div class="titleMenu">
    <p>Escolha um Apple</p>
</div>

    <li class="item iphone" onclick="location.href = '{{ path('brasil_search', {'category_name': 'iphone'}) }}';">
        
        {% if (state != 'brasil') %}
            <a href="{{ path('subdomain_search', {'state': state, 'category_name': 'iphone' }) }}" class="btn-product">iPhone</a>
        {% else %}
            <a href="{{ path('brasil_search', {'category_name': 'iphone' }) }}" class="btn-product">iPhone</a>
        {% endif %}

        <p class="text-bt"></p>
        {% if (category == 'iphone') %}
        <li class="filter">
            {{ form_start(filterForm, { attr: { 'novalidate': 'novalidate', 'id': 'filters' }}) }}
                <ul class="filter-list">
                    <p class="title-filter">Estado:</p>
                    {% for adType in filterForm.adType %}

                        <li class="filter-item">
                            {{ form_widget(adType, { attr: { 'class': 'filtrosclick selectGenero', 'onclick': 'submitFilter()' }}) }}
                            <label class="text-filter" for="">{{ adType.vars.label }}</label>
                        </li>
                    {% endfor %}

                </ul>
                <ul class="filter-list">
                    <p class="title-filter">Capacidade:</p>

                    {% for size in filterForm.size %}

                        <li class="filter-item">
                            {{ form_widget(size, { attr: { 'class': 'filtrosclick selectGenero', 'onclick': 'submitFilter()' }}) }}
                            <label class="text-filter" for="">{{ size.vars.label }}G</label>
                        </li>
                    {% endfor %}

                </ul>

                <ul class="filter-list">
                    <p class="title-filter">Modelo:</p>

                    {% for subcategory in filterForm.subcategory %}

                        <li class="filter-item">
                            {{ form_widget(subcategory, { attr: { 'class': 'filtrosclick selectGenero', 'onclick': 'submitFilter()' }}) }}
                            <label class="text-filter" for="">iPhone {{ subcategory.vars.label }}</label>
                        </li>
                    {% endfor %}

                </ul>

                <ul class="filter-list">
                    <p class="title-filter">Preço:</p>
                    <li id="pricerange" class="filter-item">
                        {{ form_widget(filterForm.price_min, { attr: { 'class': 'field-filter' }}) }}
                        {{ form_widget(filterForm.price_max, { attr: { 'class': 'field-filter' }}) }}
                        {{ form_widget(filterForm.price_submit, { attr: { 'class': 'search-bt'}}) }}
                    
                    </li> 
                </ul>
            {{ form_end(filterForm) }}
        </li>
        {% endif %}  
    </li>   


    <li class="item ipad" onclick="location.href = '{{ path('brasil_search', {'category_name': 'ipad'}) }}';">

        {% if (state != 'brasil') %}
            <a href="{{ path('subdomain_search', {'state': state, 'category_name': 'ipad' }) }}" class="btn-product">iPad</a>
        {% else %}
            <a href="{{ path('brasil_search', {'category_name': 'ipad' }) }}" class="btn-product">iPad</a>
        {% endif %}

        {% if (category == 'ipad') %}
            <li class="filter">
                {{ form_start(filterForm, { attr: { 'novalidate': 'novalidate', 'id': 'filters' }}) }}
                    <ul class="filter-list">
                        <p class="title-filter">Estado:</p>
                        {% for adType in filterForm.adType %}

                            <li class="filter-item">
                                {{ form_widget(adType, { attr: { 'class': 'filtrosclick selectGenero', 'onclick': 'submitFilter()' }}) }}
                                <label class="text-filter" for="">{{ adType.vars.label }}</label>
                            </li>
                        {% endfor %}

                    </ul>
                    <ul class="filter-list">
                        <p class="title-filter">Capacidade:</p>

                        {% for size in filterForm.size %}

                            <li class="filter-item">
                                {{ form_widget(size, { attr: { 'class': 'filtrosclick selectGenero', 'onclick': 'submitFilter()' }}) }}
                                <label class="text-filter" for="">{{ size.vars.label }}G</label>
                            </li>
                        {% endfor %}

                    </ul>

                    <ul class="filter-list">
                        <p class="title-filter">Modelo:</p>

                        {% for subcategory in filterForm.subcategory %}

                            <li class="filter-item">
                                {{ form_widget(subcategory, { attr: { 'class': 'filtrosclick selectGenero', 'onclick': 'submitFilter()' }}) }}
                                <label class="text-filter" for="">iPad {{ subcategory.vars.label }}</label>
                            </li>
                        {% endfor %}

                    </ul>

                    <ul class="filter-list">
                        <p class="title-filter">Preço:</p>
                        <li id="pricerange" class="filter-item">
                            {{ form_widget(filterForm.price_min, { attr: { 'class': 'field-filter' }}) }}
                            {{ form_widget(filterForm.price_max, { attr: { 'class': 'field-filter' }}) }}
                            {{ form_widget(filterForm.price_submit, { attr: { 'class': 'search-bt'}}) }}
                        
                        </li> 
                    </ul>
                {{ form_end(filterForm) }}
            </li>
        {% endif %}
    </li>

    <li class="item ipod" onclick="location.href = '{{ path('brasil_search', {'category_name': 'ipod'}) }}';">
        
        {% if (state != 'brasil') %}
            <a href="{{ path('subdomain_search', {'state': state, 'category_name': 'ipod' }) }}" class="btn-product">iPod</a>
        {% else %}
            <a href="{{ path('brasil_search', {'category_name': 'ipod' }) }}" class="btn-product">iPod</a>
        {% endif %}
        {% if (category == 'ipod') %}
            <li class="filter">
                    {{ form_start(filterForm, { attr: { 'novalidate': 'novalidate', 'id': 'filters' }}) }}
                        <ul class="filter-list">
                            <p class="title-filter">Estado:</p>
                            {% for adType in filterForm.adType %}

                                <li class="filter-item">
                                    {{ form_widget(adType, { attr: { 'class': 'filtrosclick selectGenero', 'onclick': 'submitFilter()' }}) }}
                                    <label class="text-filter" for="">{{ adType.vars.label }}</label>
                                </li>
                            {% endfor %}

                        </ul>
                        <ul class="filter-list">
                            <p class="title-filter">Capacidade:</p>

                            {% for size in filterForm.size %}

                                <li class="filter-item">
                                    {{ form_widget(size, { attr: { 'class': 'filtrosclick selectGenero', 'onclick': 'submitFilter()' }}) }}
                                    <label class="text-filter" for="">{{ size.vars.label }}G</label>
                                </li>
                            {% endfor %}

                        </ul>

                        <ul class="filter-list">
                            <p class="title-filter">Cores:</p>

                            {% for color in filterForm.color %}

                                <li class="filter-item">
                                    {{ form_widget(color, { attr: { 'class': 'filtrosclick selectGenero', 'onclick': 'submitFilter()' }}) }}
                                    <label class="text-filter" for="">{{ color.vars.label }}</label>
                                </li>
                            {% endfor %}

                        </ul>

                        <ul class="filter-list">
                            <p class="title-filter">Modelo:</p>

                            {% for subcategory in filterForm.subcategory %}

                                <li class="filter-item">
                                    {{ form_widget(subcategory, { attr: { 'class': 'filtrosclick selectGenero', 'onclick': 'submitFilter()' }}) }}
                                    <label class="text-filter" for="">iPod {{ subcategory.vars.label }}</label>
                                </li>
                            {% endfor %}

                        </ul>

                        <ul class="filter-list">
                            <p class="title-filter">Preço:</p>
                            <li id="pricerange" class="filter-item">
                                {{ form_widget(filterForm.price_min, { attr: { 'class': 'field-filter' }}) }}
                                {{ form_widget(filterForm.price_max, { attr: { 'class': 'field-filter' }}) }}
                                {{ form_widget(filterForm.price_submit, { attr: { 'class': 'search-bt'}}) }}
                            
                            </li> 
                        </ul>
                    {{ form_end(filterForm) }}
                </li>
        {% endif %}
    </li>

    <li class="item macbook" onclick="location.href = '{{ path('brasil_search', {'category_name': 'macbook'}) }}';">
        
        {% if (state != 'brasil') %}
            <a href="{{ path('subdomain_search', {'state': state, 'category_name': 'macbook' }) }}" class="btn-product">MacBook</a>
        {% else %}
            <a href="{{ path('brasil_search', {'category_name': 'macbook' }) }}" class="btn-product">MacBook</a>
        {% endif %}

        {% if (category == 'macbook') %}
            <li class="filter">
                    {{ form_start(filterForm, { attr: { 'novalidate': 'novalidate', 'id': 'filters' }}) }}
                        <ul class="filter-list">
                            <p class="title-filter">Estado:</p>
                            {% for adType in filterForm.adType %}

                                <li class="filter-item">
                                    {{ form_widget(adType, { attr: { 'class': 'filtrosclick selectGenero', 'onclick': 'submitFilter()' }}) }}
                                    <label class="text-filter" for="">{{ adType.vars.label }}</label>
                                </li>
                            {% endfor %}

                        </ul>
                        <ul class="filter-list">
                            <p class="title-filter">Capacidade:</p>

                            {% for size in filterForm.size %}

                                <li class="filter-item">
                                    {{ form_widget(size, { attr: { 'class': 'filtrosclick selectGenero', 'onclick': 'submitFilter()' }}) }}
                                    <label class="text-filter" for="">{{ size.vars.label }}G</label>
                                </li>
                            {% endfor %}

                        </ul>

                        <ul class="filter-list">
                            <p class="title-filter">Polegadas:</p>

                            {% for screen in filterForm.screen %}

                                <li class="filter-item">
                                    {{ form_widget(screen, { attr: { 'class': 'filtrosclick selectGenero', 'onclick': 'submitFilter()' }}) }}
                                    <label class="text-filter" for="">{{ screen.vars.label }}</label>
                                </li>
                            {% endfor %}

                        </ul>

                        <ul class="filter-list">
                            <p class="title-filter">Memória Ram:</p>

                            {% for memory in filterForm.memory %}

                                <li class="filter-item">
                                    {{ form_widget(memory, { attr: { 'class': 'filtrosclick selectGenero', 'onclick': 'submitFilter()' }}) }}
                                    <label class="text-filter" for="">{{ memory.vars.label }}</label>
                                </li>
                            {% endfor %}

                        </ul> 

                        <ul class="filter-list">
                            <p class="title-filter">Processador:</p>

                            {% for processor in filterForm.processor %}

                                <li class="filter-item">
                                    {{ form_widget(processor, { attr: { 'class': 'filtrosclick selectGenero', 'onclick': 'submitFilter()' }}) }}
                                    <label class="text-filter" for="">{{ processor.vars.label }}</label>
                                </li>
                            {% endfor %}

                        </ul>

                        <ul class="filter-list">
                            <p class="title-filter">Modelo:</p>

                            {% for subcategory in filterForm.subcategory %}

                                <li class="filter-item">
                                    {{ form_widget(subcategory, { attr: { 'class': 'filtrosclick selectGenero', 'onclick': 'submitFilter()' }}) }}
                                    <label class="text-filter" for="">MacBook {{ subcategory.vars.label }}</label>
                                </li>
                            {% endfor %}

                        </ul>

                        <ul class="filter-list">
                            <p class="title-filter">Preço:</p>
                            <li id="pricerange" class="filter-item">
                                {{ form_widget(filterForm.price_min, { attr: { 'class': 'field-filter' }}) }}
                                {{ form_widget(filterForm.price_max, { attr: { 'class': 'field-filter' }}) }}
                                {{ form_widget(filterForm.price_submit, { attr: { 'class': 'search-bt'}}) }}
                            
                            </li> 
                        </ul>
                    {{ form_end(filterForm) }}
                </li>
        {% endif %}
    </li>

    <li class="item imac" onclick="location.href = '{{ path('brasil_search', {'category_name': 'imac'}) }}';">
        
        {% if (state != 'brasil') %}
            <a href="{{ path('subdomain_search', {'state': state, 'category_name': 'imac' }) }}" class="btn-product">iMac</a>
        {% else %}
            <a href="{{ path('brasil_search', {'category_name': 'imac' }) }}" class="btn-product">iMac</a>
        {% endif %}
        
        {% if (category == 'imac') %}
        <li class="filter">
            <ul class="filter-list">
                <select name="iMac" class="estilo-combo">
                    <option selected="selected" value="" >Selecione o tipo</option>
                    <option value="1">iMac clássico</option>
                    <option value="2">Mac Pro</option>
                    <option value="3">Mac Mini</option>
                    <option value="4">Modelos antigos</option>
                </select>
            </ul>
            <ul class="filter-list">
                <p class="title-filter">Estado:</p>
                <li class="filter-item">
                    <input value="Concerto" type="checkbox" name="filtroSecao" class="filtrosclick selectGenero">
                    <label class="text-filter" for="">novo</label>
                </li>
                <li class="filter-item">
                    <input value="Concerto" type="checkbox" name="filtroSecao" class="filtrosclick selectGenero">
                    <label class="text-filter" for="">usado</label>
                </li>
            </ul>
            <ul class="filter-list">
                <p class="title-filter">Tela:</p>
                <li class="filter-item">
                    <input value="Concerto" type="checkbox" name="filtroSecao" class="filtrosclick selectGenero">
                    <label class="text-filter" for="">15 polegadas</label>
                </li>
                <li class="filter-item">
                    <input value="Concerto" type="checkbox" name="filtroSecao" class="filtrosclick selectGenero">
                    <label class="text-filter" for="">17 polegadas</label>
                </li>
                <li class="filter-item">
                    <input value="Concerto" type="checkbox" name="filtroSecao" class="filtrosclick selectGenero">
                    <label class="text-filter" for="">20 polegadas</label>
                </li>
                <li class="filter-item">
                    <input value="Concerto" type="checkbox" name="filtroSecao" class="filtrosclick selectGenero">
                    <label class="text-filter" for="">21,5 polegadas</label>
                </li>
                <li class="filter-item">
                    <input value="Concerto" type="checkbox" name="filtroSecao" class="filtrosclick selectGenero">
                    <label class="text-filter" for="">27 polegadas</label>
                </li>
            </ul>
            <ul class="filter-list">
                <p class="title-filter">HD:</p>
                <li class="filter-item">
                    <input value="Concerto" type="checkbox" name="filtroSecao" class="filtrosclick selectGenero">
                    <label class="text-filter" for="">128G</label>
                </li>
                <li class="filter-item">
                    <input value="Concerto" type="checkbox" name="filtroSecao" class="filtrosclick selectGenero">
                    <label class="text-filter" for="">256G</label>
                </li>
                <li class="filter-item">
                    <input value="Concerto" type="checkbox" name="filtroSecao" class="filtrosclick selectGenero">
                    <label class="text-filter" for="">512G</label>
                </li> 
                <li class="filter-item">
                    <input value="Concerto" type="checkbox" name="filtroSecao" class="filtrosclick selectGenero">
                    <label class="text-filter" for="">1T</label>
                </li>
            </ul>
            <ul class="filter-list">
                <p class="title-filter">Memória:</p>
                <li class="filter-item">
                    <input value="Concerto" type="checkbox" name="filtroSecao" class="filtrosclick selectGenero">
                    <label class="text-filter" for="">4G</label>
                </li>
                <li class="filter-item">
                    <input value="Concerto" type="checkbox" name="filtroSecao" class="filtrosclick selectGenero">
                    <label class="text-filter" for="">8G</label>
                </li>
                <li class="filter-item">
                    <input value="Concerto" type="checkbox" name="filtroSecao" class="filtrosclick selectGenero">
                    <label class="text-filter" for="">12G</label>
                </li>
                <li class="filter-item">
                    <input value="Concerto" type="checkbox" name="filtroSecao" class="filtrosclick selectGenero">
                    <label class="text-filter" for="">16G</label>
                </li> 
            </ul> 
            <ul class="filter-list">
                <p class="title-filter">Processador:</p>
                <li class="filter-item">
                    <input value="Concerto" type="checkbox" name="filtroSecao" class="filtrosclick selectGenero">
                    <label class="text-filter" for="">i5</label>
                </li>
                <li class="filter-item">
                    <input value="Concerto" type="checkbox" name="filtroSecao" class="filtrosclick selectGenero">
                    <label class="text-filter" for="">i7</label>
                </li>
                <li class="filter-item">
                    <input value="Concerto" type="checkbox" name="filtroSecao" class="filtrosclick selectGenero">
                    <label class="text-filter" for="">Dual Core</label>
                </li>
                <li class="filter-item">
                    <input value="Concerto" type="checkbox" name="filtroSecao" class="filtrosclick selectGenero">
                    <label class="text-filter" for="">Quad Core</label>
                </li>
                <li class="filter-item">
                    <input value="Concerto" type="checkbox" name="filtroSecao" class="filtrosclick selectGenero">
                    <label class="text-filter" for="">6 Core</label>
                </li>
            </ul> 
            <ul class="filter-list">
                <p class="title-filter">Preço:</p>
                <li id="pricerange" class="filter-item">
                <input class="field-filter" name="ps" id="ps" placeholder="Mín." value="" maxlength="13">
                <input class="field-filter" name="pe" id="pe" placeholder="Máx." value="" maxlength="13">
                <input type="submit" class="search-bt" value="ok" id="price_bt" disabled="disabled">
                </li> 
            </ul>
        </li>  
        {% endif %}
    </li>

    <li class="item others" onclick="location.href = '{{ path('brasil_search', {'category_name': 'others'}) }}';">
        
        {% if (state != 'brasil') %}
            <a href="{{ path('subdomain_search', {'state': state, 'category_name': 'acessorios' }) }}" class="btn-product">Acessórios</a>
        {% else %}
            <a href="{{ path('brasil_search', {'category_name': 'acessorios' }) }}" class="btn-product">Acessórios</a>
        {% endif %}
        {% if (category == 'acessorios') %}
        <li class="filter">
            <ul class="filter-list">
                <select name="acessorios" class="estilo-combo">
                    <option selected="selected" value="" >Escolha um acessório</option>
                    <option value="1">Apple TV</option>
                    <option value="2">Apple Modem</option>
                    <option value="3">Carregadores</option>
                    <option value="3">Cabos</option>
                    <option value="4">Fone de ouvido</option>
                    <option value="4">Impressoras</option>
                    <option value="5">Memórias</option>
                    <option value="6">Mouses</option>
                    <option value="7">Servidores</option>
                    <option value="8">Serviços</option>
                    <option value="8">Softwares</option>
                    <option value="8">Teclado</option>
                    
                </select>
            </ul>
            <ul class="filter-list">
                <p class="title-filter">Estado:</p>
                <li class="filter-item">
                    <input value="Concerto" type="checkbox" name="filtroSecao" class="filtrosclick selectGenero">
                    <label class="text-filter" for="">novo</label>
                </li>
                <li class="filter-item">
                    <input value="Concerto" type="checkbox" name="filtroSecao" class="filtrosclick selectGenero">
                    <label class="text-filter" for="">usado</label>
                </li>
            </ul>
            <ul class="filter-list">
                <p class="title-filter">Tela:</p>
                <li class="filter-item">
                    <input value="Concerto" type="checkbox" name="filtroSecao" class="filtrosclick selectGenero">
                    <label class="text-filter" for="">15 polegadas</label>
                </li>
                <li class="filter-item">
                    <input value="Concerto" type="checkbox" name="filtroSecao" class="filtrosclick selectGenero">
                    <label class="text-filter" for="">17 polegadas</label>
                </li>
                <li class="filter-item">
                    <input value="Concerto" type="checkbox" name="filtroSecao" class="filtrosclick selectGenero">
                    <label class="text-filter" for="">20 polegadas</label>
                </li>
                <li class="filter-item">
                    <input value="Concerto" type="checkbox" name="filtroSecao" class="filtrosclick selectGenero">
                    <label class="text-filter" for="">21,5 polegadas</label>
                </li>
                <li class="filter-item">
                    <input value="Concerto" type="checkbox" name="filtroSecao" class="filtrosclick selectGenero">
                    <label class="text-filter" for="">27 polegadas</label>
                </li>
            </ul>
            <ul class="filter-list">
                <p class="title-filter">HD:</p>
                <li class="filter-item">
                    <input value="Concerto" type="checkbox" name="filtroSecao" class="filtrosclick selectGenero">
                    <label class="text-filter" for="">128G</label>
                </li>
                <li class="filter-item">
                    <input value="Concerto" type="checkbox" name="filtroSecao" class="filtrosclick selectGenero">
                    <label class="text-filter" for="">256G</label>
                </li>
                <li class="filter-item">
                    <input value="Concerto" type="checkbox" name="filtroSecao" class="filtrosclick selectGenero">
                    <label class="text-filter" for="">512G</label>
                </li> 
                <li class="filter-item">
                    <input value="Concerto" type="checkbox" name="filtroSecao" class="filtrosclick selectGenero">
                    <label class="text-filter" for="">1T</label>
                </li>
            </ul>
            <ul class="filter-list">
                <p class="title-filter">Memória:</p>
                <li class="filter-item">
                    <input value="Concerto" type="checkbox" name="filtroSecao" class="filtrosclick selectGenero">
                    <label class="text-filter" for="">4G</label>
                </li>
                <li class="filter-item">
                    <input value="Concerto" type="checkbox" name="filtroSecao" class="filtrosclick selectGenero">
                    <label class="text-filter" for="">8G</label>
                </li>
                <li class="filter-item">
                    <input value="Concerto" type="checkbox" name="filtroSecao" class="filtrosclick selectGenero">
                    <label class="text-filter" for="">12G</label>
                </li>
                <li class="filter-item">
                    <input value="Concerto" type="checkbox" name="filtroSecao" class="filtrosclick selectGenero">
                    <label class="text-filter" for="">16G</label>
                </li> 
            </ul> 
            <ul class="filter-list">
                <p class="title-filter">Processador:</p>
                <li class="filter-item">
                    <input value="Concerto" type="checkbox" name="filtroSecao" class="filtrosclick selectGenero">
                    <label class="text-filter" for="">i5</label>
                </li>
                <li class="filter-item">
                    <input value="Concerto" type="checkbox" name="filtroSecao" class="filtrosclick selectGenero">
                    <label class="text-filter" for="">i7</label>
                </li>
                <li class="filter-item">
                    <input value="Concerto" type="checkbox" name="filtroSecao" class="filtrosclick selectGenero">
                    <label class="text-filter" for="">Dual Core</label>
                </li>
                <li class="filter-item">
                    <input value="Concerto" type="checkbox" name="filtroSecao" class="filtrosclick selectGenero">
                    <label class="text-filter" for="">Quad Core</label>
                </li>
                <li class="filter-item">
                    <input value="Concerto" type="checkbox" name="filtroSecao" class="filtrosclick selectGenero">
                    <label class="text-filter" for="">6 Core</label>
                </li>
            </ul> 
            <ul class="filter-list">
                <p class="title-filter">Preço:</p>
                <li id="pricerange" class="filter-item">
                <input class="field-filter" name="ps" id="ps" placeholder="Mín." value="" maxlength="13">
                <input class="field-filter" name="pe" id="pe" placeholder="Máx." value="" maxlength="13">
                <input type="submit" class="search-bt" value="ok" id="price_bt" disabled="disabled">
                </li> 
            </ul>
        </li>
        {% endif %}
    </li>
</ul>