{% extends 'iListFrontendBundle::layout.html.twig' %}

{% block stylesheets %}
    {% stylesheets 
        'bundles/ilistfrontend/css/style.css'
    filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}


{% block body %}
    <script>

        function changeState()
        {   
            window.location = "http://" + $("#state").val() + ".{{ base_host }}/app_dev.php";
        }


    </script>
    
    <div class="filtersUp">
        <!--<div class="selectPrice">Preço</div>-->
    </div>
    <div class="rightMenu">
        <div class="titleMenu">
                <p>Escolha uma localização</p>
            </div>
        <div class="estados">
            <select name="state" class="uf" id="state" onchange="changeState()">
                <option selected="selected" value="" >UF - Selecione o Estado</option>
                <option value="ac">AC - Acre</option>
                <option value="al">AL - Alagoas</option>
                <option value="am">AM - Amazonas</option>
                <option value="ap">AP - Amapá</option>
                <option value="ba">BA - Bahia</option>
                <option value="ce">CE - Ceará</option>
                <option value="df">DF - Distrito Federal</option>
                <option value="es">ES - Espírito Santo</option>
                <option value="go">GO - Goiás</option>
                <option value="ma">MA - Maranhão</option>
                <option value="mg">MG - Minas Gerais</option>
                <option value="ms">MS - Mato Grosso do Sul</option>
                <option value="mt">MT - Mato Grosso</option>
                <option value="pa">PA - Pará</option>
                <option value="pb">PB - Paraíba</option>
                <option value="pe">PE - Pernambuco</option>
                <option value="pi">PI - Piauí</option>
                <option value="pr">PR - Paraná</option>
                <option value="rj">RJ - Rio de Janeiro</option>
                <option value="rn">RN - Rio Grande do Norte</option>
                <option value="ro">RO - Rondônia</option>
                <option value="rr">RR - Roraima</option>
                <option value="rs">RS - Rio Grande do Sul</option>
                <option value="sc">SC - Santa Catarina</option>
                <option value="se">SE - Sergipe</option>
                <option value="sp">SP - São Paulo</option>
                <option value="to">TO - Tocantins</option>
          </select>
          <!--
          <ul class="state-list">
                <li class="state-item">
                    <a class="link-filter" href="#">Rio de Janeiro</a><em>(29)</em>
                </li>
                <li class="state-item">
                    <a class="link-filter" href="#">Niterói</a><em>(29)</em>
                </li>
                <li class="state-item">
                    <a class="link-filter" href="#">São Gonçalo</a><em>(29)</em>
                </li>
                <li class="state-item">
                    <a class="link-filter" href="#">Nova Iguaçu</a><em>(232)</em>
                </li>
                <li class="state-item">
                    <a class="link-filter" href="#">Outras cidades</a><em>(129)</em>
                </li>
            </ul>-->

          </div>
        {% include 'iListFrontendBundle:Search:filters.html.twig' %}
            
    </div>
    
    <div class="listing">{# pagination.getTotalItemCount #}
        
        {# knp_pagination_sortable(pagination, 'Title', 'a.title') #}

        {# knp_pagination_sortable(pagination, 'Preço', 'a.price') #}
        {% for flashMessage in app.session.flashbag.get('failover') %}
                <div class="flash-notice">
                    {{ flashMessage }}
                </div>
            {% endfor %}
        {% for ad in pagination %}
            <div class="box">
                <div class="photo">
                    {% if (ad.defaultImg == "initial") %}
                        <img src="/images/noimage.png" width="300" height="200" />
                    {% else %}
                        <img src="{{ asset(ad.defaultImg) }}" width="300" height="200" />
                    {% endif %}
                </div>
                <a class="title" href="{{ path('subdomain_vi', { 'state': ad.state, 'city': ad.citySlug, 'category_name': ad.category|sanitize, 'slug': ad.slug }) }}">{{ ad.title }}</a>
                <p class="price">{{ ad.price|price }}</p>
                <p class="detail">{{ ad.productType }} | {{ ad.city }}-{{ ad.state }}</p>
            </div>
        {% endfor %}


        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>

    </div>
{% endblock %}