	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{% block title %}iList, Compra e Venda Apple por todo Brasil - iPhone, iPad, iPod, iMac entre outros.{% endblock %}</title>
<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />

{% block javascripts %}
	{% javascripts
		'@iListFrontendBundle/Resources/public/js/jquery-1.10.2.min.js'
		
	 %}
	    <script src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}

{% block stylesheets %}
	{% stylesheets 
		'bundles/ilistfrontend/css/style.css'
	filter='cssrewrite' %}
	    <link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

</head>

<body>
    <div id="fb-root"></div>
{#<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&appId=606068709480269&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
#}
    <div id="wrapper">
    	<div class="container">
            <div class="header">
                <div class="logo" onclick="location.href = '{{ path('home') }}';">
                	<h3>
						
					</h3>
                </div>
                {% if (app.request.get('_route') == "brasil_search" or app.request.get('_route') == "subdomain_search") %}
                    <div class="search">
                        <form class="" action="" method="get">
                            <fieldset>                              
                            <input autocomplete="off" placeholder="Busque seu Apple" class="" type="text" value="" name="q" id="q">           
                            <input class="searchButton" type="submit" value="" alt="Buscar">
                            </fieldset>

                        </form>
                    </div>    
                {% endif %}
                <div class="sell-apple">
                	<a href="{{ path('anuncio_new_wizard') }}" class="mainButton">Venda seu Apple</a>
                </div>
                <div class="breadcrumb">
                    {{ wo_render_breadcrumbs() }}
                    
                    <div class="account">
                       	<img src="{{ asset('images/sec.gif') }}" width="23" height="24" alt="security" class="iconSec"/>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <a href="{{ path('account_home') }}" class="security">
                            Olá {{ app.user.username }}
                        </a>
                        |
                        <a href="{{ path('fos_user_security_logout') }}" class="security">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                        {% else %}
                            
                            <a href="{{ path('account_home') }}" class="security">
                                Acesse sua conta
                            </a>
                        {% endif %}
                    
                    </div>
                </div>
            </div>
            <div class="content">

            	{% block body %}{% endblock %}
           		
            </div>
            <div class="footer">
            	<ul class="list">
                	<li class="item">
                        <a href="{{ path('brasil_search', {'category_name': 'iphone' }) }}" class="btn-footer">iPhone</a>
                    </li>
                    <li class="item">
                        <a href="{{ path('brasil_search', {'category_name': 'ipad' }) }}" class="btn-footer">iPad</a>
                    </li>
                    <li class="item">
                        <a href="{{ path('brasil_search', {'category_name': 'ipod' }) }}" class="btn-footer">iPod</a>
                    </li>
                    <li class="item">
                        <a href="{{ path('brasil_search', {'category_name': 'macbook' }) }}" class="btn-footer">Macbook</a>
                    </li>
                    <li class="item">
                        <a href="{{ path('brasil_search', {'category_name': 'imac' }) }}" class="btn-footer">iMac</a>
                    </li>
                    <li class="item">
                        <a href="{{ path('brasil_search', {'category_name': 'acessorios' }) }}" class="btn-footer">Acessórios</a>
                    </li>
                </ul>
                <ul class="list">
                	<li class="item">
                        <a href="{{ path('anuncio_new_wizard') }}" class="btn-footer">Venda seu Apple</a>
                    </li>
                    <li class="item">
                        <a href="{{ path('fos_user_registration_register') }}" class="btn-footer">Cadastre-se</a>
                    </li>
                    <li class="item">
                        <a href="/login" class="btn-footer">Login</a>
                    </li>
                    <li class="item">
                        <a href="{{ path('fos_user_resetting_request') }}" class="btn-footer">Esqueci Minha Senha</a>
                    </li>
                    <li class="item">
                        <a href="{{ path('contact') }}" class="btn-footer">Contato</a>
                    </li>
                    <li class="item">
                        <a href="#" class="btn-footer"></a>
                    </li>
                </ul>
                <div class="facebook">
                <div class="fb-like-box" data-href="https://www.facebook.com/pages/iList/711672735563946" data-width="350" data-height="80" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
                </div>
            </div>
        </div>
        
    </div>
</body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51206261-1', 'ilists.com.br');
  ga('send', 'pageview');

</script>
</html>
