{% extends 'iListFrontendBundle::layout.html.twig' %}

{% block stylesheets %}
	{% stylesheets 
		'bundles/ilistfrontend/css/style-sell-apple.css'
	filter='cssrewrite' %}
	    <link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block body %}
<script type="text/javascript">
    

    function changeZipcode()
    {
        //alert($("#ilist_frontendbundle_ad_zipcode").val());
        

        var url = 'http://cep.correiocontrol.com.br/' + $("#ilist_frontendbundle_ad_zipcode").val() + '.json';

        var jqxhr = $.getJSON( url, {
    		format: "json"
  		})
	    .done(function( data ) {
	    	
			$.each( data, function( key, item ) {
		        
		        switch(key)
				{
					case "uf":
					  $('#ilist_frontendbundle_ad_state').find('option[value=' + item+ ']').attr('selected',true);
					  break;
					case "localidade":
						$('#ilist_frontendbundle_ad_city').val(item);
						break;
					case "logradouro":
						$('#ilist_frontendbundle_ad_street').val(item);
						break;
					case "bairro":
						$('#ilist_frontendbundle_ad_neighbourhood').val(item);
						break;		
				}
		    });
	    });
    }
    
$(document).ready(function()
{
	

	$('#ilist_frontendbundle_ad_category').change( function() {
		//alert('aa');
    $.ajax({
        type: "GET",
        data: "data=" + $(this).val(),
        url:"{{ path('find_subcategory_by_category_id') }}",
        success: function(msg){
            if (msg != ''){
               	$('#ilist_frontendbundle_ad_subcategory').html(msg);
               	$('#div_models').show();
               }
               else
               {
                   $('#div_models').hide();
               }
           }
       });
  });



	$('#ilist_frontendbundle_ad_subcategory').change( function() {
		//alert('aa');
    $.ajax({
        type: "GET",
        data: "data=" + $(this).val(),
        url:"{{ path('find_product_by_subcategory_id') }}",
        success: function(msg){
            if (msg != ''){
               	$('#ilist_frontendbundle_ad_product').html(msg);
               	$('#div_product').show();
               }
               else
               {
                   $('#div_product').hide();
               }
           }
       });
  });

});

</script>

           		<div class="content-ad">
                	<div class="titleMenu">
                        <p class="titleStyle">Informações sobre o produto</p>
                    </div>
                    

                	{{ form_start(form, { attr: { 'novalidate': 'novalidate' }}) }}
                		<div class="cont" id="">
	                		<div class="cont-left">
	                        	{{ form_label(form.adType,'Tipo do Anúncio', { attr: { 'class': 'item_desc' } }) }}
	                        </div>
                			<div class="cont-right">
		                		{% for adType in form.adType %}
									
									{{ form_widget(adType, { attr: { 'class': 'ipt_radio' }}) }}

                            		<label class="ipt_label">{{ adType.vars.label }}</label>

								{% endfor %}
								{{ form_errors(form.adType) }}
							</div>
						</div>


						<div class="cont" id="">
	                		<div class="cont-left">
	                        	{{ form_label(form.productType,'Tipo do Anúncio', { attr: { 'class': 'item_desc' } }) }}
	                        </div>
                			<div class="cont-right">
		                		{% for productType in form.productType %}
									
									{{ form_widget(productType, { attr: { 'class': 'ipt_radio' }}) }}

                            		<label class="ipt_label">{{ productType.vars.label }}</label>

								{% endfor %}
								{{ form_errors(form.productType) }}
							</div>
						</div>

                		<div class="cont" id="">
	                		<div class="cont-left">
	                        	{{ form_label(form.category,'Categoria', { attr: { 'class': 'item_desc' } }) }}
	                        </div>
						     <div class="cont-right">
						     	<div class="estados">
									{{ form_errors(form.category) }}
									{{ form_widget(form.category) }}
								</div>
							</div>
						</div>

						<div class="cont" id="div_models" style='display:none;'>
	                		<div class="cont-left">
	                        	{{ form_label(form.subcategory,'SubCategoria', { attr: { 'class': 'item_desc' } }) }}
	                        </div>
						     <div class="cont-right">
						     	<div class="estados">
									{{ form_errors(form.subcategory) }}
									{{ form_widget(form.subcategory) }}
								</div>
								<div style="text-align: center; width: 40%; margin-top: 10px; display:none;">
									<img src="{{ asset('images/loading.gif') }}" />
								</div>

							</div>
						</div>

						<div class="cont" id="div_product" style='display:none;'>
	                		<div class="cont-left">
	                        	{{ form_label(form.product,'Produto', { attr: { 'class': 'item_desc' } }) }}
	                        </div>
						     <div class="cont-right">
						     	<div class="estados">
									{{ form_errors(form.product) }}
									{{ form_widget(form.product) }}
								</div>
							</div>
						</div>

						<div class="cont" id="">
	                		<div class="cont-left">
	                        	{{ form_label(form.size,'Capacidade', { attr: { 'class': 'item_desc' } }) }}
	                        </div>
						     <div class="cont-right">
						     	<div class="estados">
									{{ form_errors(form.size) }}
									{{ form_widget(form.size) }}
								</div>
							</div>
						</div>

						<div class="cont" id="">
	                		<div class="cont-left">
	                        	{{ form_label(form.color,'Cor', { attr: { 'class': 'item_desc' } }) }}
	                        </div>
						     <div class="cont-right">
						     	<div class="estados">
									{{ form_errors(form.color) }}
									{{ form_widget(form.color) }}
								</div>
							</div>
						</div>

						<div class="cont" id="">
	                		<div class="cont-left">
	                        	{{ form_label(form.title,'Título', { attr: { 'class': 'item_desc' } }) }}
	                        </div>
						     <div class="cont-right">
						     	<div class="estados">
									{{ form_errors(form.title) }}
									{{ form_widget(form.title) }}
								</div>
							</div>
						</div>

						<div class="cont" id="">
	                		<div class="cont-left">
	                        	{{ form_label(form.content,'Conteúdo', { attr: { 'class': 'item_desc' } }) }}
	                        </div>
						     <div class="cont-right">
						     	<div class="estados">
									{{ form_errors(form.content) }}
									{{ form_widget(form.content) }}
								</div>
							</div>
						</div>

						<div class="cont" id="">
	                		<div class="cont-left">
	                        	{{ form_label(form.price,'Preço', { attr: { 'class': 'item_desc' } }) }}
	                        </div>
						     <div class="cont-right">
						     	<div class="estados">
									{{ form_errors(form.price) }}
									{{ form_widget(form.price) }}
								</div>
							</div>
						</div>

						<div class="cont" id="">
	                		<div class="cont-left">
	                        	{{ form_label(form.zipcode,'CEP', { attr: { 'class': 'item_desc' } }) }}
	                        </div>
						     <div class="cont-right">
						     	<div class="estados">
									{{ form_errors(form.zipcode) }}
									{{ form_widget(form.zipcode) }}
								</div>
							</div>
						</div>


						<div class="cont" id="">
	                		<div class="cont-left">
	                        	{{ form_label(form.state,'Estado', { attr: { 'class': 'item_desc' } }) }}
	                        </div>
						     <div class="cont-right">
						     	<div class="estados">
									{{ form_errors(form.state) }}
									{{ form_widget(form.state) }}
								</div>
							</div>
						</div>

						<div class="cont" id="">
	                		<div class="cont-left">
	                        	{{ form_label(form.city,'Cidade', { attr: { 'class': 'item_desc' } }) }}
	                        </div>
						     <div class="cont-right">
						     	<div class="estados">
									{{ form_errors(form.city) }}
									{{ form_widget(form.city) }}
								</div>
							</div>
						</div>

						<div class="cont" id="">
	                		<div class="cont-left">
	                        	{{ form_label(form.neighbourhood,'Bairro', { attr: { 'class': 'item_desc' } }) }}
	                        </div>
						     <div class="cont-right">
						     	<div class="estados">
									{{ form_errors(form.neighbourhood) }}
									{{ form_widget(form.neighbourhood) }}
								</div>
							</div>
						</div>
						
						<div class="cont" id="">
	                		<div class="cont-left">
	                        	{{ form_label(form.street,'Logradouro', { attr: { 'class': 'item_desc' } }) }}
	                        </div>
						     <div class="cont-right">
						     	<div class="estados">
									{{ form_errors(form.street) }}
									{{ form_widget(form.street) }}
								</div>
							</div>
						</div>

						<div class="cont" id="">
	                		<div class="cont-left">
	                        	{{ form_label(form.complement,'Complemento', { attr: { 'class': 'item_desc' } }) }}
	                        </div>
						     <div class="cont-right">
						     	<div class="estados">
									{{ form_errors(form.complement) }}
									{{ form_widget(form.complement) }}
								</div>
							</div>
						</div>

						<div class="cont" id="">
	                		<div class="cont-left">
	                			
	                        	{{ form_label(form.ad_images,'Imagens', { attr: { 'class': 'item_desc' } }) }}
	                        </div>
						     <div class="cont-right">
						     	<div class="estados">
									{{ form_errors(form.ad_images) }}
									{{ form_widget(form.ad_images, { 'attr': { 'multiple': 'multiple' } }) }}
								</div>
							</div>
						</div>


					{{ form_widget(form.submit, { label: 'Criar' })}}

					{{ form_end(form) }}

                      
                    
            </div>
            
{% endblock %}