{% extends 'iListFrontendBundle::layout.html.twig' %}

{% block stylesheets %}
	{% stylesheets 
		'bundles/ilistfrontend/css/style-sell-apple.css'
	filter='cssrewrite' %}
	    <link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block body %}
<script>
$(document).ready(function () {
var $sport = $('#ilist_frontendbundle_ad_category');
// When sport gets selected ...
$sport.change(function(){
	$('#loading').show();
	// ... retrieve the corresponding form.
	var $form = $(this).closest('form');
	// Simulate form data, but only include the selected sport value.
	var data = {};
	data[$sport.attr('name')] = $sport.val();
	// Submit data via AJAX to the form's action path.
	$.ajax({
	url : $form.attr('action'),
	type: $form.attr('method'),
	data : data,
	success: function(html) {
	  // Replace current position field ...
	  $('#ilist_frontendbundle_ad_subcategory').replaceWith(
	    // ... with the returned one from the AJAX response.
	    $(html).find('#ilist_frontendbundle_ad_subcategory')
	  );
	  $('#ilist_frontendbundle_ad_color').replaceWith(
	    // ... with the returned one from the AJAX response.
	    $(html).find('#ilist_frontendbundle_ad_color')
	  );
	  $('#ilist_frontendbundle_ad_size').replaceWith(
	    // ... with the returned one from the AJAX response.
	    $(html).find('#ilist_frontendbundle_ad_size')
	    
	  );
	  $('#ilist_frontendbundle_ad_screen').replaceWith(
	    // ... with the returned one from the AJAX response.
	    $(html).find('#ilist_frontendbundle_ad_screen')
	  );
	  $('#ilist_frontendbundle_ad_memory').replaceWith(
	    // ... with the returned one from the AJAX response.
	    $(html).find('#ilist_frontendbundle_ad_memory')
	  );
	  $('#ilist_frontendbundle_ad_processor').replaceWith(
	    // ... with the returned one from the AJAX response.
	    $(html).find('#ilist_frontendbundle_ad_processor')
	  );
	  $('#loading').hide();
      
      if ($('#ilist_frontendbundle_ad_color option').size() > 1)
	  	$('#div_color').show();
	  else
	  	$('#div_color').hide();

	  if ($('#ilist_frontendbundle_ad_size option').size() > 1)
	  	$('#div_size').show();
	  else
	  	$('#div_size').hide();

	  if ($('#ilist_frontendbundle_ad_screen option').size() > 1)
	  	$('#div_screen').show();
	  else
	  	$('#div_screen').hide();

	  if ($('#ilist_frontendbundle_ad_memory option').size() > 1)
	  	$('#div_memory').show();
	  else
	  	$('#div_memory').hide();

	  if ($('#ilist_frontendbundle_ad_processor option').size() > 1)
	  	$('#div_processor').show();
	  else
	  	$('#div_processor').hide();

    }
  });
});

});
</script>

<script type="text/javascript">
    

    function changeZipcode()
    {
        //alert($("#ilist_frontendbundle_ad_zipcode").val());
        

        var url = 'http://cep.correiocontrol.com.br/' + $("#ilist_frontendbundle_ad_zipcode").val() + '.json';

        var jqxhr = $.getJSON( url, {
    		format: "json"
  		})
	    .done(function( data ) {
	    	
			$.each( data, function( key, item ) {
		        
		        switch(key)
				{
					case "uf":
					  $('#ilist_frontendbundle_ad_state').find('option[value=' + item+ ']').attr('selected',true);
					  break;
					case "localidade":
						$('#ilist_frontendbundle_ad_city').val(item);
						break;
					case "logradouro":
						$('#ilist_frontendbundle_ad_street').val(item);
						break;
					case "bairro":
						$('#ilist_frontendbundle_ad_neighbourhood').val(item);
						break;		
				}
		    });
	    });
    }
    
$(document).ready(function()
{
	
/*
	$('#ilist_frontendbundle_ad_category').change( function() {
		$('#loading').show();

	    $.ajax({
	        type: "GET",
	        data: "data=" + $(this).val(),
	        url:"{{ path('find_color_by_category_id') }}",
	        success: function(msg){
	            if (msg != ''){
	               	$('#ilist_frontendbundle_ad_color').html(msg);
	               	$('#div_color').show();
	               }
	               else
	               {
	                   $('#div_color').hide();
	               }
	           }
	       });

	    $.ajax({
	        type: "GET",
	        data: "data=" + $(this).val(),
	        url:"{{ path('find_size_by_category_id') }}",
	        success: function(msg){
	            if (msg != ''){
	               	$('#ilist_frontendbundle_ad_size').html(msg);
	               	$('#div_size').show();
	               }
	               else
	               {
	                   $('#div_size').hide();
	               }
	           }
	       });

	    $.ajax({
	        type: "GET",
	        data: "data=" + $(this).val(),
	        url:"{{ path('find_memory_by_category_id') }}",
	        success: function(msg){
	            if (msg != ''){
	               	$('#ilist_frontendbundle_ad_memory').html(msg);
	               	$('#div_memory').show();
	               }
	               else
	               {
	                   $('#div_memory').hide();
	               }
	           }
	       });

	    $.ajax({
	        type: "GET",
	        data: "data=" + $(this).val(),
	        url:"{{ path('find_screen_by_category_id') }}",
	        success: function(msg){
	            if (msg != ''){
	               	$('#ilist_frontendbundle_ad_screen').html(msg);
	               	$('#div_screen').show();
	               }
	               else
	               {
	                   $('#div_screen').hide();
	               }
	           }
	       });

	    $.ajax({
	        type: "GET",
	        data: "data=" + $(this).val(),
	        url:"{{ path('find_processor_by_category_id') }}",
	        success: function(msg){
	            if (msg != ''){
	               	$('#ilist_frontendbundle_ad_processor').html(msg);
	               	$('#div_processor').show();
	               }
	               else
	               {
	                   $('#div_processor').hide();
	               }
	           }
	       });

	    $.ajax({
	        type: "GET",
	        data: "data=" + $(this).val(),
	        url:"{{ path('find_subcategory_by_category_id') }}",
	        success: function(msg){
	            if (msg != ''){
	               	$('#ilist_frontendbundle_ad_subcategory').html(msg);
	               	$('#div_models').show();

	               }
	               else
	               {
	                   $('#div_models').hide();

	               }
	               $('#loading').hide();
	           }
	       });
  });
*/


});

</script>

           		<div class="content-ad">
                	<div class="titleMenu">
                        <p class="titleStyle">Informações sobre o produto</p>
                    </div>
                    

                	{{ form_start(form, { attr: { 'novalidate': 'novalidate' }}) }}
                		
                		{{ form_errors(form) }}
                		<div class="cont" id="">
	                		<div class="cont-left">
	                        	{{ form_label(form.adType,'Tipo do Anúncio', { attr: { 'class': 'item_desc' } }) }}
	                        </div>
                			<div class="cont-right">
		                		{% for adType in form.adType %}
									
									{{ form_widget(adType, { attr: { 'class': 'ipt_radio' }}) }}

                            		<label class="ipt_label">{{ adType.vars.label }}</label>

								{% endfor %}
								
							</div>
							<div class="inputLabel">
								{{ form_errors(form.adType) }}
							</div>
						</div>


						<div class="cont" id="">
	                		<div class="cont-left">
	                        	{{ form_label(form.productType,'Tipo do Produto', { attr: { 'class': 'item_desc' } }) }}
	                        </div>
                			<div class="cont-right">
		                		{% for productType in form.productType %}
									
									{{ form_widget(productType, { attr: { 'class': 'ipt_radio' }}) }}

                            		<label class="ipt_label">{{ productType.vars.label }}</label>

								{% endfor %}
								{{ form_errors(form.productType) }}
							</div>
						</div>


                		<div class="cont" id="">
	                		<div class="cont-left">
	                        	{{ form_label(form.category,'Produto', { attr: { 'class': 'item_desc' } }) }}
	                        </div>
						     <div class="cont-right">
						     	<div class="estados">
									
									{{ form_widget(form.category) }}
									<div id="loading" style="display:none;">
									<img src="{{ asset('images/loading.gif') }}" />
								</div>
								</div>
								{{ form_errors(form.category) }}
								
							</div>
						</div>

						

						<div class="cont" id="div_models" style='display:block;'>
	                		<div class="cont-left">
	                        	{{ form_label(form.subcategory,'Modelo', { attr: { 'class': 'item_desc' } }) }}
	                        </div>
						     <div class="cont-right">
						     	<div class="estados">
									{{ form_errors(form.subcategory) }}
									{{ form_widget(form.subcategory) }}
								</div>

							</div>
						</div>


						<div class="cont" id="div_size" style="display: none;">
	                		<div class="cont-left">
	                        	{{ form_label(form.size,'Capacidade', { attr: { 'class': 'item_desc' } }) }}
	                        </div>
						     <div class="cont-right">
						     	<div class="estados">
									{{ form_errors(form.size) }}
									{{ form_widget(form.size) }}
								</div>
							</div>
						</div>

						<div class="cont" id="div_memory" style="display: none;">
	                		<div class="cont-left">
	                        	{{ form_label(form.memory,'Memória', { attr: { 'class': 'item_desc' } }) }}
	                        </div>
						     <div class="cont-right">
						     	<div class="estados">
									{{ form_errors(form.memory) }}
									{{ form_widget(form.memory) }}
								</div>
							</div>
						</div>

						<div class="cont" id="div_screen" style="display: none;">
	                		<div class="cont-left">
	                        	{{ form_label(form.screen,'Tela', { attr: { 'class': 'item_desc' } }) }}
	                        </div>
						     <div class="cont-right">
						     	<div class="estados">
									{{ form_errors(form.screen) }}
									{{ form_widget(form.screen) }}
								</div>
							</div>
						</div>

						<div class="cont" id="div_processor" style="display: none;">
	                		<div class="cont-left">
	                        	{{ form_label(form.processor,'Processador', { attr: { 'class': 'item_desc' } }) }}
	                        </div>
						     <div class="cont-right">
						     	<div class="estados">
									{{ form_errors(form.processor) }}
									{{ form_widget(form.processor) }}
								</div>
							</div>
						</div>

						<div class="cont" id="div_color" style="display: none;">
	                		<div class="cont-left">
	                        	{{ form_label(form.color,'Cor', { attr: { 'class': 'item_desc' } }) }}
	                        </div>
						     <div class="cont-right">
						     	<div class="estados">
									{{ form_errors(form.color) }}
									{{ form_widget(form.color) }}
								</div>
							</div>
						</div>

				
						<div class="cont" id="">
	                		<div class="cont-left">
	                        	{{ form_label(form.title,'Título do Anúncio', { attr: { 'class': 'item_desc' } }) }}
	                        </div>
						     <div class="cont-right">
						     	<div class="estados">
									{{ form_errors(form.title) }}
									{{ form_widget(form.title) }}
								</div>
							</div>
						</div>

						<div class="cont text-ad" id="">
	                		<div class="cont-left">
	                        	{{ form_label(form.content,'Conteúdo', { attr: { 'class': 'item_desc' } }) }}
	                        </div>
						     <div class="cont-right">
						     	<div class="text-ad">
									{{ form_errors(form.content) }}
									{{ form_widget(form.content) }}
								</div>
							</div>
						</div>

						<div class="cont" id="">
	                		<div class="cont-left">
	                        	{{ form_label(form.price,'Preço', { attr: { 'class': 'item_desc' } }) }}
	                        </div>
						     <div class="cont-right">
						     	<div class="estados">
									{{ form_errors(form.price) }}
									{{ form_widget(form.price, { attr: { 'class': 'price' } }) }}
								</div>
							</div>
						</div>

						<div class="cont" id="">
	                		<div class="cont-left">
	                        	{{ form_label(form.zipcode,'CEP', { attr: { 'class': 'item_desc' } }) }}
	                        </div>
						     <div class="cont-right">
						     	<div class="estados">
									{{ form_errors(form.zipcode) }}
									{{ form_widget(form.zipcode, { attr: { 'class': 'cep' } }) }}
								</div>
							</div>
						</div>


						<div class="cont" id="">
	                		<div class="cont-left">
	                        	{{ form_label(form.state,'Estado', { attr: { 'class': 'item_desc' } }) }}
	                        </div>
						     <div class="cont-right">
						     	<div class="estados">
									{{ form_errors(form.state) }}
									{{ form_widget(form.state) }}
								</div>
							</div>
						</div>

						<div class="cont" id="">
	                		<div class="cont-left">
	                        	{{ form_label(form.city,'Cidade', { attr: { 'class': 'item_desc' } }) }}
	                        </div>
						     <div class="cont-right">
						     	<div class="estados">
									{{ form_errors(form.city) }}
									{{ form_widget(form.city) }}
								</div>
							</div>
						</div>

						<div class="cont" id="">
	                		<div class="cont-left">
	                        	{{ form_label(form.neighbourhood,'Bairro', { attr: { 'class': 'item_desc' } }) }}
	                        </div>
						     <div class="cont-right">
						     	<div class="estados">
									{{ form_errors(form.neighbourhood) }}
									{{ form_widget(form.neighbourhood) }}
								</div>
							</div>
						</div>
						
						<div class="cont" id="">
	                		<div class="cont-left">
	                        	{{ form_label(form.street,'Logradouro', { attr: { 'class': 'item_desc' } }) }}
	                        </div>
						     <div class="cont-right">
						     	<div class="estados">
									{{ form_errors(form.street) }}
									{{ form_widget(form.street) }}
								</div>
							</div>
						</div>

						
						

						<div class="cont" id="">
	                		<div class="cont-left">
	                        	{{ form_label(form.complement,'Complemento', { attr: { 'class': 'item_desc' } }) }}
	                        </div>
						     <div class="cont-right">
						     	<div class="estados">
									{{ form_errors(form.complement) }}
									{{ form_widget(form.complement) }}
								</div>
							</div>
						</div>

						
						<div class="cont pics" id="">
	                		<div class="cont-left">
	                			
	                        	{{ form_label(form.ad_images,'Imagens', { attr: { 'class': 'item_desc' } }) }}
	                        </div>
						     <div class="cont-right">
						     	<div class="estados">
						     		{% for adImage in form.ad_images %}
								        	{{ form_errors(adImage) }}
								        	{{ form_widget(adImage) }}
									{% endfor %}

								</div>
								{{ form_widget(form.submit, { label: 'Publicar Anúncio', attr: { 'class': 'ButtonRegister'} } )}}
							</div>
						</div>


					


					{{ form_end(form) }}

                      
                    
            </div>
            
{% endblock %}