{% extends 'iListFrontendBundle::layout.html.twig' %}

{% block stylesheets %}
	{% stylesheets 
		'bundles/ilistfrontend/css/style-sell-apple.css'
	filter='cssrewrite' %}
	    <link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    	'@iListFrontendBundle/Resources/public/js/jquery.maskedinput.min.js'
    	'@iListFrontendBundle/Resources/public/js/jquery.number.min.js'
        '@iListFrontendBundle/Resources/public/js/changeZipcode.js'
        
     %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
<script>
$(document).ready(function () {

    $('#ilist_frontendbundle_ad_price').on('change',function(){
		var val = $('#ilist_frontendbundle_ad_price').val();
		$('#the_number').text( val !== '' ? val : '(empty)' );
	});
	
	$('#ilist_frontendbundle_ad_price').number( true, 2, ",", ".");


var $sport = $('#ilist_frontendbundle_ad_category');
// When sport gets selected ...
$sport.change(function(){
	$('#loading').show();
	// ... retrieve the corresponding form.
	var $form = $(this).closest('form');
	// Simulate form data, but only include the selected sport value.
	var data = {};
	data[$sport.attr('name')] = $sport.val();
	// Submit data via AJAX to the form's action path.
	$.ajax({
	url : $form.attr('action'),
	type: $form.attr('method'),
	data : data,
	success: function(html) {
	  // Replace current position field ...
	  $('#ilist_frontendbundle_ad_subcategory').replaceWith(
	    // ... with the returned one from the AJAX response.
	    $(html).find('#ilist_frontendbundle_ad_subcategory')
	  );
	  $('#ilist_frontendbundle_ad_color').replaceWith(
	    // ... with the returned one from the AJAX response.
	    $(html).find('#ilist_frontendbundle_ad_color')
	  );
	  $('#ilist_frontendbundle_ad_size').replaceWith(
	    // ... with the returned one from the AJAX response.
	    $(html).find('#ilist_frontendbundle_ad_size')
	    
	  );
	  $('#ilist_frontendbundle_ad_screen').replaceWith(
	    // ... with the returned one from the AJAX response.
	    $(html).find('#ilist_frontendbundle_ad_screen')
	  );
	  $('#ilist_frontendbundle_ad_memory').replaceWith(
	    // ... with the returned one from the AJAX response.
	    $(html).find('#ilist_frontendbundle_ad_memory')
	  );
	  $('#ilist_frontendbundle_ad_processor').replaceWith(
	    // ... with the returned one from the AJAX response.
	    $(html).find('#ilist_frontendbundle_ad_processor')
	  );
	  $('#loading').hide();
      
      if ($('#ilist_frontendbundle_ad_color option').size() > 1)
	  	$('#div_color').show();
	  else
	  	$('#div_color').hide();

	  if ($('#ilist_frontendbundle_ad_size option').size() > 1)
	  	$('#div_size').show();
	  else
	  	$('#div_size').hide();

	  if ($('#ilist_frontendbundle_ad_screen option').size() > 1)
	  	$('#div_screen').show();
	  else
	  	$('#div_screen').hide();

	  if ($('#ilist_frontendbundle_ad_memory option').size() > 1)
	  	$('#div_memory').show();
	  else
	  	$('#div_memory').hide();

	  if ($('#ilist_frontendbundle_ad_processor option').size() > 1)
	  	$('#div_processor').show();
	  else
	  	$('#div_processor').hide();

    }
  });
});

});
</script>



           		<div class="content-ad">
                	<div class="titleMenu">
                        <p class="titleStyle">Informações sobre o produto</p>
                    </div>
                    

                	{{ form_start(form, { attr: { 'novalidate': 'novalidate' }}) }}
                		
                		{{ form_errors(form) }}
                		<div class="cont" id="">
	                		<div class="cont-left">
	                        	{{ form_label(form.adType,'Tipo do Anúncio', { attr: { 'class': 'item_desc' } }) }}
	                        </div>
                			<div class="cont-right">
		                		{% for adType in form.adType %}
									
									{{ form_widget(adType, { attr: { 'class': 'ipt_radio' }}) }}

                            		<label class="ipt_label">{{ adType.vars.label }}</label>

								{% endfor %}
								
							</div>
						</div>
						{% if (form.adType.vars.errors|length > 0) %}
							<div class="conte alert">
	                        	<p class="alert-text">{{ form.adType.vars.errors[0].message }}</p>
	                        </div>
                        {% endif %}


						<div class="cont" id="">
	                		<div class="cont-left">
	                        	{{ form_label(form.productType,'Tipo do Produto', { attr: { 'class': 'item_desc' } }) }}
	                        </div>
                			<div class="cont-right">
		                		{% for productType in form.productType %}
									
									{{ form_widget(productType, { attr: { 'class': 'ipt_radio' }}) }}

                            		<label class="ipt_label">{{ productType.vars.label }}</label>

								{% endfor %}
								
							</div>
						</div>
						{% if (form.productType.vars.errors|length > 0) %}
							<div class="conte alert">
	                        	<p class="alert-text">{{ form.productType.vars.errors[0].message }}</p>
	                        </div>
                        {% endif %}

                		<div class="cont" id="">
	                		<div class="cont-left">
	                        	{{ form_label(form.category,'Produto', { attr: { 'class': 'item_desc' } }) }}
	                        </div>
						     <div class="cont-right">
						     	<div class="estados">
									
										{{ form_widget(form.category) }}
										
									<div id="loading" style="display:none;">
									<img src="{{ asset('images/loading.gif') }}" />
								</div>
								</div>
								
								
							</div>
						</div>
						{% if (form.category.vars.errors|length > 0) %}
							<div class="conte alert">
	                        	<p class="alert-text">{{ form.category.vars.errors[0].message }}</p>
	                        </div>
                        {% endif %}
						

						<div class="cont" id="div_models" style='display:block;'>
	                		<div class="cont-left">
	                        	{{ form_label(form.subcategory,'Modelo', { attr: { 'class': 'item_desc' } }) }}
	                        </div>
						     <div class="cont-right">
						     	<div class="estados">
									{{ form_widget(form.subcategory) }}
								</div>

							</div>
						</div>
						{% if (form.subcategory.vars.errors|length > 0) %}
							<div class="conte alert">
	                        	<p class="alert-text">{{ form.subcategory.vars.errors[0].message }}</p>
	                        </div>
                        {% endif %}


						<div class="cont" id="div_size" style="display: none;">
	                		<div class="cont-left">
	                        	{{ form_label(form.size,'Capacidade', { attr: { 'class': 'item_desc' } }) }}
	                        </div>
						     <div class="cont-right">
						     	<div class="estados">
									{{ form_widget(form.size) }}
								</div>
							</div>
						</div>

						<div class="cont" id="div_memory" style="display: none;">
	                		<div class="cont-left">
	                        	{{ form_label(form.memory,'Memória', { attr: { 'class': 'item_desc' } }) }}
	                        </div>
						     <div class="cont-right">
						     	<div class="estados">
									{{ form_widget(form.memory) }}
								</div>
							</div>
						</div>
						

						<div class="cont" id="div_screen" style="display: none;">
	                		<div class="cont-left">
	                        	{{ form_label(form.screen,'Tela', { attr: { 'class': 'item_desc' } }) }}
	                        </div>
						     <div class="cont-right">
						     	<div class="estados">
									{{ form_errors(form.screen) }}
									{{ form_widget(form.screen) }}
								</div>
							</div>
						</div>

						<div class="cont" id="div_processor" style="display: none;">
	                		<div class="cont-left">
	                        	{{ form_label(form.processor,'Processador', { attr: { 'class': 'item_desc' } }) }}
	                        </div>
						     <div class="cont-right">
						     	<div class="estados">
									{{ form_errors(form.processor) }}
									{{ form_widget(form.processor) }}
								</div>
							</div>
						</div>

						<div class="cont" id="div_color" style="display: none;">
	                		<div class="cont-left">
	                        	{{ form_label(form.color,'Cor', { attr: { 'class': 'item_desc' } }) }}
	                        </div>
						     <div class="cont-right">
						     	<div class="estados">
									{{ form_errors(form.color) }}
									{{ form_widget(form.color) }}
								</div>
							</div>
						</div>

				
						<div class="cont" id="">
	                		<div class="cont-left">
	                        	{{ form_label(form.title,'Título do Anúncio', { attr: { 'class': 'item_desc' } }) }}
	                        </div>
						     <div class="cont-right">
						     	<div class="estados">
									{{ form_widget(form.title) }}
								</div>
							</div>
						</div>
						{% if (form.title.vars.errors|length > 0) %}
							<div class="conte alert">
	                        	<p class="alert-text">{{ form.title.vars.errors[0].message }}</p>
	                        </div>
                        {% endif %}

						<div class="cont text-ad" id="">
	                		<div class="cont-left">
	                        	{{ form_label(form.content,'Conteúdo', { attr: { 'class': 'item_desc' } }) }}
	                        </div>
						     <div class="cont-right">
						     	<div class="text-ad">
									{{ form_widget(form.content) }}
								</div>
							</div>
						</div>
						{% if (form.content.vars.errors|length > 0) %}
							<div class="conte alert">
	                        	<p class="alert-text">{{ form.content.vars.errors[0].message }}</p>
	                        </div>
                        {% endif %}

						<div class="cont" id="">
	                		<div class="cont-left">
	                        	{{ form_label(form.price,'Preço', { attr: { 'class': 'item_desc' } }) }}
	                        </div>
						     <div class="cont-right">
						     	<div class="estados">
									{{ form_widget(form.price, { attr: { 'class': 'price' } }) }}
								</div>
							</div>
						</div>
						{% if (form.price.vars.errors|length > 0) %}
							<div class="conte alert">
	                        	<p class="alert-text">{{ form.price.vars.errors[0].message }}</p>
	                        </div>
                        {% endif %}


						<div class="cont" id="">
	                		<div class="cont-left">
	                        	{{ form_label(form.zipcode,'CEP', { attr: { 'class': 'item_desc' } }) }}
	                        </div>
						     <div class="cont-right">
						     	<div class="estados">
									{{ form_widget(form.zipcode, { attr: { 'class': 'cep' } }) }}
								</div>
							</div>
						</div>
						{% if (form.zipcode.vars.errors|length > 0) %}
							<div class="conte alert">
	                        	<p class="alert-text">{{ form.zipcode.vars.errors[0].message }}</p>
	                        </div>
                        {% endif %}


						<div class="cont" id="">
	                		<div class="cont-left">
	                        	{{ form_label(form.state,'Estado', { attr: { 'class': 'item_desc' } }) }}
	                        </div>
						     <div class="cont-right">
						     	<div class="estados">
									{{ form_widget(form.state) }}
								</div>
							</div>
						</div>
						{% if (form.state.vars.errors|length > 0) %}
							<div class="conte alert">
	                        	<p class="alert-text">{{ form.state.vars.errors[0].message }}</p>
	                        </div>
                        {% endif %}

						<div class="cont" id="">
	                		<div class="cont-left">
	                        	{{ form_label(form.city,'Cidade', { attr: { 'class': 'item_desc' } }) }}
	                        </div>
						     <div class="cont-right">
						     	<div class="estados">
									{{ form_widget(form.city) }}
								</div>
							</div>
						</div>
						{% if (form.city.vars.errors|length > 0) %}
							<div class="conte alert">
	                        	<p class="alert-text">{{ form.city.vars.errors[0].message }}</p>
	                        </div>
                        {% endif %}

						<div class="cont" id="">
	                		<div class="cont-left">
	                        	{{ form_label(form.neighbourhood,'Bairro', { attr: { 'class': 'item_desc' } }) }}
	                        </div>
						     <div class="cont-right">
						     	<div class="estados">
									{{ form_widget(form.neighbourhood) }}
								</div>
							</div>
						</div>
						{% if (form.neighbourhood.vars.errors|length > 0) %}
							<div class="conte alert">
	                        	<p class="alert-text">{{ form.neighbourhood.vars.errors[0].message }}</p>
	                        </div>
                        {% endif %}
						
						<div class="cont" id="">
	                		<div class="cont-left">
	                        	{{ form_label(form.street,'Logradouro', { attr: { 'class': 'item_desc' } }) }}
	                        </div>
						     <div class="cont-right">
						     	<div class="estados">
									{{ form_widget(form.street) }}
								</div>
							</div>
						</div>

						{% if (form.street.vars.errors|length > 0) %}
							<div class="conte alert">
	                        	<p class="alert-text">{{ form.street.vars.errors[0].message }}</p>
	                        </div>
                        {% endif %}

						<div class="cont" id="">
	                		<div class="cont-left">
	                        	{{ form_label(form.complement,'Complemento', { attr: { 'class': 'item_desc' } }) }}
	                        </div>
						     <div class="cont-right">
						     	<div class="estados">
									{{ form_errors(form.complement) }}
									{{ form_widget(form.complement) }}
								</div>
							</div>
						</div>

						
						<div class="cont pics" id="">
	                		<div class="cont-left">
	                			
	                        	{{ form_label(form.ad_images,'Imagens', { attr: { 'class': 'item_desc' } }) }}
	                        </div>
						     <div class="cont-right">
						     	<div class="estados">
						     		{% for adImage in form.ad_images %}
								        	{{ form_errors(adImage) }}
								        	{{ form_widget(adImage) }}
									{% endfor %}

								</div>
								{{ form_widget(form.submit, { label: 'Publicar Anúncio', attr: { 'class': 'ButtonRegister'} } )}}
							</div>
						</div>


					


					{{ form_end(form) }}

                      
                    
            </div>
            
{% endblock %}