{% extends 'iListFrontendBundle::layout.html.twig' %}
{% block javascripts %}
	{% javascripts
		'@iListFrontendBundle/Resources/public/js/jquery-1.10.2.min.js'
		
	 %}
	    <script src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}

{% block body %}
<script>
$(document).ready(function () {
var $sport = $('#ilist_frontendbundle_ad_teste_category');
// When sport gets selected ...
$sport.change(function(){
  // ... retrieve the corresponding form.
  var $form = $(this).closest('form');
  // Simulate form data, but only include the selected sport value.
  var data = {};
  data[$sport.attr('name')] = $sport.val();
  // Submit data via AJAX to the form's action path.
  $.ajax({
    url : $form.attr('action'),
    type: $form.attr('method'),
    data : data,
    success: function(html) {
      // Replace current position field ...
      $('#ilist_frontendbundle_ad_teste_subcategory').replaceWith(
        // ... with the returned one from the AJAX response.
        $(html).find('#ilist_frontendbundle_ad_teste_subcategory')
      );
      $('#ilist_frontendbundle_ad_teste_color').replaceWith(
        // ... with the returned one from the AJAX response.
        $(html).find('#ilist_frontendbundle_ad_teste_color')
      );
      $('#ilist_frontendbundle_ad_teste_size').replaceWith(
        // ... with the returned one from the AJAX response.
        $(html).find('#ilist_frontendbundle_ad_teste_size')
      );
      $('#ilist_frontendbundle_ad_teste_screen').replaceWith(
        // ... with the returned one from the AJAX response.
        $(html).find('#ilist_frontendbundle_ad_teste_screen')
      );
      $('#ilist_frontendbundle_ad_teste_memory').replaceWith(
        // ... with the returned one from the AJAX response.
        $(html).find('#ilist_frontendbundle_ad_teste_memory')
      );
      $('#ilist_frontendbundle_ad_teste_processor').replaceWith(
        // ... with the returned one from the AJAX response.
        $(html).find('#ilist_frontendbundle_ad_teste_processor')
      );
      // Position field now displays the appropriate positions.
    }
  });
});

});
</script>

{{ form_start(form, { attr: { 'novalidate': 'novalidate', 'id': 'formwizard' }}) }}

	<div class="cont" id="">
		<div class="cont-left">
        	{{ form_label(form.category,'Produto', { attr: { 'class': 'item_desc' } }) }}
        </div>
	     <div class="cont-right">
	     	<div class="estados">
				
				{{ form_widget(form.category) }}
				{{ form_errors(form.category) }}
			</div>
			{{ form_errors(form.category) }}
			
		</div>
	</div>
	<div class="cont" id="">
		<div class="cont-left">
        	{{ form_label(form.subcategory,'SubProduto', { attr: { 'class': 'item_desc' } }) }}
        </div>
	     <div class="cont-right">
	     	<div class="estados">
				
				{{ form_widget(form.subcategory) }}
				{{ form_errors(form.subcategory) }}
			</div>
			{{ form_errors(form.subcategory) }}
			
		</div>
	</div>

	<div class="cont" id="">
		<div class="cont-left">
        	{{ form_label(form.color,'Cor', { attr: { 'class': 'item_desc' } }) }}
        </div>
	     <div class="cont-right">
	     	<div class="estados">
				
				{{ form_widget(form.color) }}
				{{ form_errors(form.color) }}
			</div>
			{{ form_errors(form.color) }}
			
		</div>
	</div>
	<div class="cont" id="">
		<div class="cont-left">
        	{{ form_label(form.size,'Capacidade', { attr: { 'class': 'item_desc' } }) }}
        </div>
	     <div class="cont-right">
	     	<div class="estados">
				
				{{ form_widget(form.size) }}
				{{ form_errors(form.size) }}
			</div>
			{{ form_errors(form.size) }}
			
		</div>
	</div>
	<div class="cont" id="">
		<div class="cont-left">
        	{{ form_label(form.memory,'Memória', { attr: { 'class': 'item_desc' } }) }}
        </div>
	     <div class="cont-right">
	     	<div class="estados">
				
				{{ form_widget(form.memory) }}
				{{ form_errors(form.memory) }}
			</div>
			{{ form_errors(form.memory) }}
			
		</div>
	</div>
	<div class="cont" id="">
		<div class="cont-left">
        	{{ form_label(form.screen,'Tamanho da Tela', { attr: { 'class': 'item_desc' } }) }}
        </div>
	     <div class="cont-right">
	     	<div class="estados">
				
				{{ form_widget(form.screen) }}
				{{ form_errors(form.screen) }}
			</div>
			{{ form_errors(form.screen) }}
			
		</div>
	</div>
	<div class="cont" id="">
		<div class="cont-left">
        	{{ form_label(form.processor,'Processador', { attr: { 'class': 'item_desc' } }) }}
        </div>
	     <div class="cont-right">
	     	<div class="estados">
				
				{{ form_widget(form.processor) }}
				{{ form_errors(form.processor) }}
			</div>
			{{ form_errors(form.processor) }}
			
		</div>
	</div>
	<input type='submit' value='vai'/>
{{ form_end(form) }}
{% endblock %}