{% extends 'iListFrontendBundle::layout.html.twig' %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts
		'@iListFrontendBundle/Resources/public/js/jquery.cycle.all.js'
	 %}
	    <script src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}

{% block title %}
{{ ad.title }}
{% endblock %}

{% block body %}
<style>



.slider{
 margin: 0 auto;
 width: 625px;
 height: 345px;
 border: 8px solid #e1e1e1;
 border-radius:5px;
 position: relative;
}

.slider_next{
    width: 62px;
    height: 62px;
    background: #f8f8f8;
    border-radius: 70px;
    position: absolute;
    z-index: 99;
    top: 130px;
    left: 595px;
    padding: 5px 0 0 5px;   
    cursor: pointer;    
}

.slider_prev{
    width: 62px;
    height: 62px;
    background: #f8f8f8;
    border-radius: 70px;
    position: absolute;
    z-index: 99;
    top: 130px;
    left: -35px;
    padding: 5px 0 0 5px;   
    cursor: pointer;
}

#thumb { 
    width: 100%; 
    height: 80px; 
    margin:10px 0 0 0;
    padding:0;  
}

#thumb li { 
    width: 60px; 
    float: left; 
    margin: 8px; 
    list-style: none 
}

#thumb a { 
    width: 60px;
    display: block; 
    border: 3px solid #FFFFFF;
    border-radius:3px;
    
}

#thumb li.activeSlide a { 
    border: 3px solid #e1e1e1;
    border-radius:3px;
    box-shadow: 1px 1px 3px #333333;
    padding:1px;
}

#thumb a:focus { 
    outline: none; 
}

#thumb img { 
    border: none; 
    display: block 
}

</style>
<script language="javascript">
$(document).ready(function(){

    $('#slider1').cycle({
        fx: 'scrollHorz', //'scrollLeft,scrollDown,scrollRight,scrollUp',blindX, blindY, blindZ, cover, curtainX, curtainY, fade, fadeZoom, growX, growY, none, scrollUp,scrollDown,scrollLeft,scrollRight,scrollHorz,scrollVert,shuffle,slideX,slideY,toss,turnUp,turnDown,turnLeft,turnRight,uncover,ipe ,zoom
        speed:  'slow', 
        timeout: 0,
        next:   '#next', 
        prev:   '#prev',
        pager:  '#thumb',
         
        pagerAnchorBuilder: function(idx, slide) { 
            return '<li><a href="#"><img src="' + slide.src + '" width="60" height="60" /></a></li>'; 
        }  
    });


}); 
</script>


	<div class="content-adview">
		<h3>{{ ad.title }}</h3>
		<div class="product-image">


            <div class="slider">

                <div id="slider1">
                    {% if (ad.defaultImg == "initial") %}
                        
                        <img src="{{ asset('images/noimage.png') }}" width="625" height="345" />
                    {% else %}
                    
                        {% for img in ad.adImages %}
                            {% if (img.pic != "initial") %}
                                <img border="0" src="{{ asset(img.pic|apply_filter('vi')) }}"  alt="" title="" />
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <ul id="thumb"></ul>
            
			<!--
			<div id='next' class="slider_next"><img border="0" src="/images/next.png" width="57" height="57" alt="next image" /></div>
            <div id='prev' class="slider_prev"><img border="0" src="/images/prev.png" width="57" height="57" alt="previous image" /></div>-->
			
			
            </div>

		</div>

    <!--inicio detalhes anuncio-->
    <div class="product-info">
        <div class="price-detail"><span style="color:#666;">Preço:</span> R$ {{ ad.price }}</div>
    	<div class="product-content">
        	<p class="text">
            	{{ ad.content }}
            </p>
        </div>
    	<div class="product-detail">
        	

            <ul class="list-product">
            	<li class="list-detail">
                	<div class="detail-left">
                    	<p class="text">Produto</p>
                    </div>
                	<div class="detail-rigth">
                    	<p class="text">{{ ad.category }} - {{ ad.subcategory }}</p>
                    </div>
                </li>

                <li class="list-detail">
                    <div class="detail-left">
                        <p class="text">Condição</p>
                    </div>
                    <div class="detail-rigth">
                        <p class="text"><strong>{{ ad.productType }}</strong></p>
                    </div>
                </li>

                {% if ad.size %}
                <li class="list-detail">
                    <div class="detail-left">
                        <p class="text">Capacidade</p>
                    </div>
                    <div class="detail-rigth">
                        <p class="text"><strong>{{ ad.size.size }} GB</strong></p>
                    </div>
                </li>
                {% endif %}

                {% if ad.color %}
                <li class="list-detail">
                    <div class="detail-left">
                        <p class="text">Cor</p>
                    </div>
                    <div class="detail-rigth">
                        <p class="text"><strong>{{ ad.color.name }}</strong></p>
                    </div>
                </li>
                {% endif %}

                {% if ad.screen %}
                 <li class="list-detail">
                    <div class="detail-left">
                        <p class="text">Tela</p>
                    </div>
                    <div class="detail-rigth">
                        <p class="text"><strong>{{ ad.screen.size }} polegadas</strong></p>
                    </div>
                </li>
                {% endif %}
                
                {% if ad.memory %}
                 <li class="list-detail">
                    <div class="detail-left">
                        <p class="text">Memória</p>
                    </div>
                    <div class="detail-rigth">
                        <p class="text"><strong>{{ ad.memory.name }}GB</strong></p>
                    </div>
                </li>
                {% endif %}

                {% if ad.processor %}
                <li class="list-detail">
                    <div class="detail-left">
                        <p class="text">Processador</p>
                    </div>
                    <div class="detail-rigth">
                        <p class="text"><strong>{{ ad.processor.name }}</strong></p>
                    </div>
                </li>
                {% endif %}

            </ul>
           
            <ul class="user-info">
            	<li class="list-user">
                	<div class="detail-left">
           	      		<img src="/images/mail.jpg" width="30" height="30" alt="email" /></div>
                	<div class="detail-rigth">
                    	<p class="text">{{ ad.user.email }}</p>
                    </div>
                </li>
                {% if (ad.user.phone) %}
                <li class="list-user">
                	<div class="detail-left">
           	      		<img src="/images/phone.jpg" width="30" height="30" alt="phone" /></div>
                	<div class="detail-rigth">
                    	<p class="text"><strong>{{ ad.user.phone }}</strong></p>
                    </div>
                </li>
                {% endif %}
                <li class="list-user">
                	<div class="detail-left">
           	      		<img src="/images/location.jpg" width="30" height="30" alt="cidade" /></div>
                	<div class="detail-rigth">
                    	<p class="text"><strong>{{ ad.city }} - {{ ad.state }}</strong></p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="user-info"></div>
    </div>
    </div>

<div class="content-right new	">
	<h3>Falar com o anunciante</h3>
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {{ form_start(form, { attr: { 'novalidate': 'novalidate', 'class': 'new_entity_factories_free_entity_factory'}}) }}
        {% set name = null %}
        {% set email = null %}
        {% set phone = null %}
        {% if app.user %}
            {% set name = app.user.name %}
            {% set email = app.user.email %}
            {% set phone = app.user.phone %}
        {% endif %}
        <div class="inputLabel product">
            {% if (name) %}
                {{ form_widget(form.name, { attr: { 'class': 'rounder', 'placeholder': form.name.vars.label, 'value': name }}) }}
            {% else %}
                {{ form_widget(form.name, { attr: { 'class': 'rounder', 'placeholder': form.name.vars.label }}) }}
            {% endif %}
            {{ form_errors(form.name) }}
        </div>
        <div class="inputLabel product">
            {% if (email) %}
                {{ form_widget(form.email, { attr: { 'class': 'rounder', 'placeholder': form.email.vars.label, 'value': email }}) }}
            {% else %}
                {{ form_widget(form.email, { attr: { 'class': 'rounder', 'placeholder': form.email.vars.label }}) }}
            {% endif %}
            {{ form_errors(form.email) }}
        </div>
        <div class="inputLabel product">
            {% if (phone) %}
                {{ form_widget(form.phone, { attr: { 'class': 'rounder', 'placeholder': form.phone.vars.label, 'value': phone }}) }}
            {% else %}
                {{ form_widget(form.phone, { attr: { 'class': 'rounder', 'placeholder': form.phone.vars.label }}) }}
            {% endif %}
            {{ form_errors(form.phone) }}
        </div>
        <div class="inputLabel">
            
            {{ form_widget(form.content, { attr: { 'class': 'rounder', 'placeholder': form.content.vars.label, 'rows': 4, 'cols': 150 }}) }}
            {{ form_errors(form.content) }}
            
        </div>
      {{ form_widget(form.submit, { attr: { 'class': 'ButtonRegister adv', 'style': 'margin-top:5px;'}}) }}

    {{ form_end(form) }}
    
<div class="ad-banner-sidebar">
	  <img src="/images/guga-ad.jpg" width="300" height="250" /></div>                 
</div>
{% endblock %}