{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="new_entity_factories_free_entity_factory" novalidate>
    	{{ form_errors(form) }}
    	 {{ form_row(form._token) }} 
 
	    <div class="inputLabel">
			{{ form_widget(form.name, { 'attr': {'class': 'rounder', 'placeholder': form.name.vars.label } }) }}
			{{ form_errors(form.name) }}
		</div>

		<div class="inputLabel">			
			{{ form_widget(form.username, { 'attr': {'class': 'rounder', 'placeholder': form.username.vars.label }}) }}
			{{ form_errors(form.username) }}
		</div>

		<div class="inputLabel">
			{{ form_widget(form.email, { 'attr': {'class': 'rounder', 'placeholder': form.email.vars.label }}) }}
			{{ form_errors(form.email) }}
		</div>

		{% for passwordField in form.plainPassword %}
		    <div class="inputLabel">
		        {{ form_widget(passwordField, { 'attr': {'class': 'rounder', 'placeholder': passwordField.vars.label }}) }}
		        {{ form_errors(passwordField) }}
		        
		        
		    </div>
		{% endfor %}

		
	

	    <div>
	        <input class="ButtonRegister" type="submit" value="Cadastre-se. É grátis!" />
	    </div>
	</form>
