{% extends "iListFrontendBundle::layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts

        '@iListFrontendBundle/Resources/public/js/changeZipcode.js'
        
     %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
<form action="{{ path('account_edit') }}" {{ form_enctype(form) }} method="POST" class="new_entity_factories_free_entity_factory" novalidate>
                {{ form_errors(form) }}
                {{ form_row(form._token) }} 
                <div class="inputLabel-account">
                    <p class="text">Nome</p>
                    {% if (form.name.vars.errors|length > 0) %}
                        <div class="alert">
                            <p class="alert-text">{{ form.name.vars.errors[0].message }}</p>
                        </div>
                    {% endif %}
                    {{ form_widget(form.name, { 'attr': {'class': 'rounder', 'placeholder': form.name.vars.label } }) }}
                </div>

                <div class="inputLabel-account">
                    <p class="text">Usuário</p>
                    {% if (form.username.vars.errors|length > 0) %}
                        <div class="alert">
                            <p class="alert-text">{{ form.username.vars.errors[0].message }}</p>
                        </div>
                    {% endif %}
                    {{ form_widget(form.username, { 'attr': {'class': 'rounder', 'placeholder': form.username.vars.label } }) }}
                </div>

                <div class="inputLabel-account">
                    <p class="text">Email</p>
                    {% if (form.email.vars.errors|length > 0) %}
                        <div class="alert">
                            <p class="alert-text">{{ form.email.vars.errors[0].message }}</p>
                        </div>
                    {% endif %}
                    {{ form_widget(form.email, { 'attr': {'class': 'rounder', 'placeholder': form.email.vars.label } }) }}
                </div>

                <div class="inputLabel-account">
                    <p class="text">Telefone</p>
                    {% if (form.phone.vars.errors|length > 0) %}
                        <div class="alert">
                            <p class="alert-text">{{ form.phone.vars.errors[0].message }}</p>
                        </div>
                    {% endif %}
                    {{ form_widget(form.phone, { 'attr': {'class': 'rounder', 'placeholder': form.phone.vars.label } }) }}
                </div>
                <div class="inputLabel-account">
                    <p class="text">CEP</p>
                    {% if (form.zipcode.vars.errors|length > 0) %}
                        <div class="alert">
                            <p class="alert-text">{{ form.zipcode.vars.errors[0].message }}</p>
                        </div>
                    {% endif %}
                    {{ form_widget(form.zipcode, { 'attr': {'class': 'rounder', 'placeholder': form.zipcode.vars.label } }) }}
                </div>
                <div class="inputLabel-account">
                    <p class="text">Estado</p>
                    {% if (form.state.vars.errors|length > 0) %}
                        <div class="alert">
                            <p class="alert-text">{{ form.state.vars.errors[0].message }}</p>
                        </div>
                    {% endif %}
                    {{ form_widget(form.state, { 'attr': {'class': 'rounder', 'placeholder': form.state.vars.label } }) }}
                </div>
                <div class="inputLabel-account">
                    <p class="text">Cidade</p>
                    {% if (form.city.vars.errors|length > 0) %}
                        <div class="alert">
                            <p class="alert-text">{{ form.city.vars.errors[0].message }}</p>
                        </div>
                    {% endif %}
                    {{ form_widget(form.city, { 'attr': {'class': 'rounder', 'placeholder': form.city.vars.label } }) }}
                </div>
                <div class="inputLabel-account">
                    <p class="text">Bairro</p>
                    {% if (form.neighbourhood.vars.errors|length > 0) %}
                        <div class="alert">
                            <p class="alert-text">{{ form.neighbourhood.vars.errors[0].message }}</p>
                        </div>
                    {% endif %}
                    {{ form_widget(form.neighbourhood, { 'attr': {'class': 'rounder', 'placeholder': form.neighbourhood.vars.label } }) }}
                </div>
                <div class="inputLabel-account">
                    <p class="text">Rua</p>
                    {% if (form.street.vars.errors|length > 0) %}
                        <div class="alert">
                            <p class="alert-text">{{ form.street.vars.errors[0].message }}</p>
                        </div>
                    {% endif %}
                    {{ form_widget(form.street, { 'attr': {'class': 'rounder', 'placeholder': form.street.vars.label } }) }}
                </div>
                <div class="inputLabel-account">
                    <p class="text">Complemento</p>
                    {% if (form.complement.vars.errors|length > 0) %}
                        <div class="alert">
                            <p class="alert-text">{{ form.complement.vars.errors[0].message }}</p>
                        </div>
                    {% endif %}
                    {{ form_widget(form.complement, { 'attr': {'class': 'rounder', 'placeholder': form.complement.vars.label } }) }}
                </div>
                <div class="inputLabel-account">
                    <p class="text">CPF</p>
                    {% if (form.cpf.vars.errors|length > 0) %}
                        <div class="alert">
                            <p class="alert-text">{{ form.cpf.vars.errors[0].message }}</p>
                        </div>
                    {% endif %}
                    {{ form_widget(form.cpf, { 'attr': {'class': 'rounder', 'placeholder': form.cpf.vars.label } }) }}
                </div>
                <input class="ButtonRegister-account" name="commit" type="submit" value="Finalizar">
            </form>
{% endblock %}