{% extends 'iListFrontendBundle::layout.html.twig' %}

{% block stylesheets %}
{{ parent() }}
	{% stylesheets 
		'bundles/ilistfrontend/css/style-tabs.css'
	filter='cssrewrite' %}
	    <link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
	{% javascripts
		'@iListFrontendBundle/Resources/public/js/jquery-ui.js'
		
	 %}
	    <script src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}

{% block body %}

  <script>
  $(function() {
    $( "#tabs" ).tabs();

   // $("li #profile a").unbind('click');
    $('#tabs-2').click(function(){
        window.location = "youtube.com";//hardcoded link but you could pull this from the tab
    });
  });
  </script>

    <script>
  $(function() {
    $( "#accordion" ).accordion({ active: false, collapsible: true });
  });
  </script>

<h3>Minha Conta</h3>
    <div class="menu-caixa">
      <ul class="menu-conta">
        <li class="menu-aba select">
            <a class="link-aba" href="{{ path('account_home') }}">Mensagens</a></li>
        <li class="menu-aba">
            <a class="link-aba" href="{{ path('account_profile') }}">Meus dados cadastrais</a></li>
        <li class="menu-aba">
            <a class="link-aba" href="{{ path('account_ads') }}">Meus Anúncios</a></li></br></br>
      </ul>
    </div>
    <div class="my-account-container" id="tabs-1">
        <div id="tabs-1">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-notice">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            <div id="accordion" >

                {% for msgs in all_msgs %}
                    {% for msg in msgs %}
                        <h3>{{ msg.msg_title }}</h3>
                        <div class="tabs-content">
                        {% for ms in msg %}
                            {% for m in ms %}   
                                {% if (loop.first) %}      
                                    <p class="text">
                                        <strong>De:</strong> {% if (m.fromUser) %}{{ m.fromUser.name }}{% else %}{{ m.name }}{% endif %}<br/>
                                        <strong>Enviado:</strong> {{ m.createdAt|date('H:m - d/m/Y') }}<br/>
                                        {% if (m.phone) %}<strong>Telefone:</strong> {{ m.phone }}<br/>{% endif %}
                                        <br/>
                                        {{ m.content }}
                                    </p>

                                    <br/>
                                    <a href="javascript:void(0)" onclick="$('#reply-{{ m.id }}').toggle();" class="link-reply">Responder Mensagem</a>
                                    
                                    <div class="reply" id="reply-{{ m.id }}" style="display: none;">
                                        <form method="post" action="{{ path('ad_reply_msg_send') }}">
                                            <textarea class="text-reply" name="msg"></textarea>
                                            <input type="submit" class="search-bt" value="Enviar" id="price_bt">
                                            <input type="hidden" name="ad_id" value="{{ m.adId }}">
                                            <input type="hidden" name="user_id" value="{{ m.fromUserId }}">
                                        </form>
                                    </div>

                                {% else %}
                                    <div class="reply-msg">
                                        <p class="text">
                                            <strong>De:</strong>  {% if (m.fromUser) %}{{ m.fromUser.name }}{% else %}{{ m.name }}{% endif %}<br/>
                                            <strong>Enviado:</strong> {{ m.createdAt|date('H:m - d/m/Y') }}<br/>
                                            {% if (m.phone) %}<strong>Telefone:</strong> {{ m.phone }}<br/>{% endif %}
                                            <br/>
                                            {{ m.content }}
                                        </p>
                                    </div>

                                {% endif %}
                                
                            {% endfor %}
                        {% endfor %}

                        
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>

        </div>        
    </div>
  
            
{% endblock %}